// Styles written by Jacob Bearce | jacob@bearce.me

/* ------------------------------------------------------------------------ *\
 * Colors                                                                   *
\* ------------------------------------------------------------------------ */

$primary: #0390A9;
$primary_alt: #6CC1C6;

$secondary: #BA3626;
$secondary_alt: #FF9486;

$tertiary: #84B2AA;
$tertiary_alt: #CDFBF3;

$quatinary: #ECBF4F;
$quatinary_alt: #A17300;

$accent: #0390A9;
$accent_alt: #6CC1C6;

$foreground: #8C8A95;
$foreground_alt: #D2D2D2;

$background: #FFFFFF;
$background_alt: #D9D9D9;

$page_background: #302F33;
$page_background_alt: #454448;

/* ------------------------------------------------------------------------ *\
 * Fonts                                                                    *
\* ------------------------------------------------------------------------ */

$heading-font: "Times New Roman", "Times", serif;
$body-font: "Open Sans", "Arial", "Helvetica", sans-serif;

/* ------------------------------------------------------------------------ *\
 * Widths                                                                   *
\* ------------------------------------------------------------------------ */

$site-width: 1200;
$mobile-nav-width: 240;

/* ------------------------------------------------------------------------ *\
 * Break Points                                                             *
\* ------------------------------------------------------------------------ */

$xxl-break: (1279rem / 16);
$xl-break: (1023rem / 16);
$l-break: (959rem / 16);
$m-break: (852rem / 16);
$s-break: (767rem / 16);
$xs-break: (639rem / 16);
$xxs-break: (479rem / 16);

/* ------------------------------------------------------------------------ *\
 * Layers                                                                   *
\* ------------------------------------------------------------------------ */

$layers: (
    header: 5,
    navigation: 4,
    slideshow: 3,
    content: 2,
    footer: 1,
);

/* ------------------------------------------------------------------------ *\
 * FontAwesome Icons (http://fortawesome.github.io/Font-Awesome/icons/)     *
\* ------------------------------------------------------------------------ */

$fa-icons: (
    chevron-down: "\F078",
    chevron-up: "\F077",
    check: "\F00C",
    circle: "\F111",
    clock-o: "\F017",
    comment: "\F075",
    folder: "\F07B",
    folder: "\F07B",
    globe: "\F0AC",
    sort: "\F0DC",
    tag: "\F02B",
);
