/*removeIf(tribe_css_js_php)*/// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Tribe Events Calendar
\* ------------------------------------------------------------------------ */

/* stylelint-disable selector-class-pattern, selector-max-id, selector-no-qualifying-type, selector-max-type */

/* Tribe is stupidly specific with their classes... */

.tribe-events-calendar_container {
    & {
        overflow: auto;
        width: 100%;
    }
}

#tribe-events-content table.tribe-events-calendar { // Tribe is stupidly specific with their classes...
    & {
        border: 0;
        font-size: remify(12, 16);
        margin: remify(0 0 20, 16);
    }

    .tribe-events-calendar_cell {
        border: remify(1) solid darken($background_alt, 10);
        font-size: remify(16, 16);
        height: remify(75, 16);
        padding: remify(12 15 10, 16);
    }

    .tribe-events-calendar_cell.-header {
        background: darken($background_alt, 5);
        height: auto;
    }

    .tribe-events-calendar_cell.mobile-active {
        background: darken($background_alt, 10);
    }

    .tribe-events-calendar_date {
        font-size: remify(12, 16);
        padding: 0;
    }

    .tribe-events-calendar_link {
        font-size: 1em;
    }

    .events-archive.events-gridview & .tribe-events-calendar_event:not(:last-child) {
        border-bottom: remify(1) solid darken($background_alt, 10);
        margin-bottom: remify(4, 16);
        padding-bottom: remify(4, 16);
    }

    .tribe-events-calendar_mobile-event-indicator {
        background: $accent;
        border-radius: 50%;
        height: remify(12, 16);
        margin: remify(12 auto, 16);
        width: remify(12, 16);
    }

    // reset dumb Tribe shit

    .events-archive.events-gridview & .type-tribe_events {
        margin: 0;
        padding: 0;
    }
}/*endRemoveIf(tribe_css_js_php)*/
