// Styles written by Jacob Bearce @ Weblinx, Inc.

/* ------------------------------------------------------------------------ *\
 * Slideshow                                                                *
\* ------------------------------------------------------------------------ */

.slideshow-wrapper {
    & {
        @include layer("slideshow");

        font-size: remify(16, 16);
        padding: remify(0 20, 16);
    }

    > .slideshow-block {
        @extend %clearfix;

        margin: 0 auto;
        max-width: remify($site-width, 16);
    }
}
