// Styles written by Jacob Bearce | jacob@bearce.me

#headerWrapper {
    header {
        nav {
			background: $navy;
			float: left;
			position: relative;
			width: 100%;
			z-index: 999;
            
            & > button {
                background: darken($navy, 15%);
                display: none;
                float: right;
                height: 40px;
                margin: 0;
                padding: 0;
                position: relative;
                text-indent: -999em;
                width: 40px;
                
                &:before,
                em,
                &:after {
                    background: #FFF;
                    content: "\0020";
                    display: block;
                    height: 4px;
                    left: 10px;
                    position: absolute;
                    transition: left 0.25s, top 0.25s, transform 0.25s, width 0.25s;
                    width: 20px;
                }

                .navopen &:before,
                .navopen &:after {
                    left: 20px;
                    width: 10px;
                }

                &:before {
                    top: 11px;

                    .navopen & {
                        top: 15px;
                        transform: rotate(45deg);
                    }
                }
                
                em {
                    top: 18px;

                    .navopen & {
                        width: 18px;
                    }
                }
    
                &:after {
                    top: 25px;

                    .navopen & {
                        top: 21px;
                        transform: rotate(-45deg);
                    }
                }
                
                @include max-screen(639px) {
                    display: block;
                }
            }

            ul {
				float: right;
				list-style: none;
				margin: 0 auto;
				padding: 0;
				position: relative;
				right: 50%;
				text-align: center;
				width: auto;
				z-index: 999;
                
                li {
					float: left;
					left: 50%;
					position: relative;
                    transition: background 0.25s;

                    &:hover {
                        background: $aqua;
                    }
                    
                    a {
                        color: #FFF;
						display: block;
						padding: 8px 10px;
                    }
                    
                    // sub list
                    ul {
                        background: lighten($navy, 15%);
						left: -999em;
						opacity: 0;
						position: absolute;
						text-align: left;
						top: 100%;
                        transition: opacity 0.25s 0s, left 0s 0.25s;
						width: 200px;
                        
                        li {
							float: none;
							left: auto;
							width: 100%;
                            
                            // sub sub list 
                            ul {
                                background: lighten(lighten($navy, 15%), 15%);
								top: 0;
								width: 250px;
                            }
                            
                            &:hover > ul {
                                left: 100%;
                            }
                        }
                    }

                    &:hover > ul {
						left: 0;
						opacity: 1;
                        transition: opacity 0.25s 0s, left 0s 0s;
                    }
                }
                
                @include max-screen(639px) {
                    display: none;
                }
                
                @include clear;
            }
        }
    }
}

// mobile nav

#mobileNavWrapper {
    background: $navy;
    bottom: 0;
    display: none;
    position: absolute;
    right: 999em;
    top: 0;
    transition: right 0s 0.25s;
    width: 220px;
    
    @include max-screen(639px) {
        display: block;
    }

    .navopen & {
        right: 0;
        transition: none;
    }

    #mobileNav {
        nav {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                
                li {
                    position: relative;
                    
                    a {
                        color: #FFF;
                        display: block;
                        padding: 8px 10px;
                    }
                    
                    button {
                        background: none;
                        display: block;
                        height: 34px;
                        position: absolute;
                        right: 0;
                        text-indent: -999em;
                        top: 0;
                        width: 34px;
                        
                        &:before,
                        &:after {
                            background: #FFF;
                            content: "\0020";
                            display: block;
                            height: 4px;
                            position: absolute;
                            top: 15px;
                            transition: transform 0.25s;
                            width: 12px;
                        }

                        &:before {
                            left: 8px;
                            transform: rotate(45deg);
                        }

                        &:after {
                            right: 8px;
                            transform: rotate(-45deg);
                        }
                    }
                    
                    &.open > button:before {
                        transform: rotate(-45deg);
                    }
                    
                    &.open > button:after {
                        transform: rotate(45deg);
                    }
                    
                    // sub list
                    ul {
                        background: lighten($navy, 15%);
                        overflow: hidden;
                        max-height: 0;
                        transition: max-height 0.25s;
                    
                        li {
                            // sub list
                            ul {
                                background: lighten(lighten($navy, 15%), 15%);
                            }
                        }
                    }

                    &.open > ul {
                        max-height: 500px;
                        transition: max-height 0.5s;
                    }
                }
            }
        }
    }
}
