// Styles written by Jacob Bearce | jacob@bearce.me

// imports

@import "normalize";
@import "functions";
@import "mixins";
@import "variables";
@import "text";
@import "forms";
@import "header";
@import "main";
@import "footer";

// general

::selection {
	background: $theme-color;
	color: #FFF;
}

html {
    @include max-screen(639px) {
        height: 100%;
        overflow: hidden;
        width: 100%;
    }
}

body {
    @include max-screen(639px) {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        // iOS fix
        -webkit-overflow-scrolling: touch;
        
        .navopen & {
            overflow: hidden;
        }
    }
}

#pageWrapper {
    @include max-screen(639px) {
        background: #FFF;
        right: 0;
        min-height: 100%;
        position: relative;
        transition: right 0.25s;
        
        .navopen & {
            height: 100%;
            right: 220px;
            width: 100%;
        }
    }
}

// independent classes

.iframe {
	display: block;
	height: 0;
	position: relative;
	width: 100%;

    iframe {
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
}

// recaptcha

.g-recaptcha {
    margin-bottom: 10px;
    margin-bottom: (10rem  / 16);
}

// IE Snap Fix

@-ms-viewport {
    width: device-width;
}
