// Styles written by Jacob Bearce | jacob@bearce.me

// headings

h1,
h2,
h3,
h4,
h5,
h6 {
}

h1 {
    font-size: 28px;
    font-size: (28rem / 16);
}

h2 {
    font-size: 26px;
    font-size: (26rem / 16);
}

h3 {
    font-size: 24px;
    font-size: (24rem / 16);
}

h4 {
    font-size: 22px;
    font-size: (22rem / 16);
}

h5 {
    font-size: 20px;
    font-size: (20rem / 16);
}

h6 {
    font-size: 18px;
    font-size: (18rem / 16);
}

// text

ol,
p,
table,
ul {
    color: $gray;
}

ol {
    li {
    }

    ol,
    ul {
		margin-bottom: 0;
    }
}

p {
}

table {
	display: table;
    
    @include max-screen(639px) {
		display: block;
		overflow: auto;
		overflow-scrolling: touch;
		padding-bottom: 1px;
		width: 100%;
    }
    
    th,
    td {
    }
    
    thead td,
    th {
    }
}

ul {
    li {
    }

    ul,
    ol {
        margin-bottom: 0;
    }
}

// formatting

a {
    color: $aqua;
    text-decoration: none;
    transition: color 0.25s;
    
    &:hover {
        color: lighten($aqua, 15%);
    }
}

em,
i {
}

q {
}

strike {
}

b,
strong {
}

u {
}

// structural

blockquote {
}

hr {
}
