@charset "utf-8";
/* CSS Document */

/* Styles written by Jacob Bearce | jacob@weblinxinc.com | jacob@bearce.me */

$primaryColor: #5B6275;
$secondaryColor: #343843;
$textColor: #222;

$mobileNavWidth: 220px;

$inputBackgroundColor: #FFF;
$inputImageSize: 16px;
$inputPaddingBottom: 5px;
$inputPaddingLeft: 6px;
$inputPaddingRight: 6px;
$inputPaddingTop: 7px;