<nav>
    @@if (mobile !== true) {
        <button>Menu</button>
    }
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li class="menu-item-has-children">
            @@if (mobile === true) {
                <a href="#">Portfolio</a>
                <button>More</button>
            }
            @@if (mobile === false) {
                <a aria-haspopup="true" href="#">Portfolio</a>
            }
            <ul class="sub-menu">
                <li><a href="#">Sub link</a></li>
                <li><a href="#">Sub link</a></li>
                <li class="menu-item-has-children">
                    @@if (mobile === true) {
                        <a href="#">Sub link</a>
                        <button>More</button>
                    }
                    @@if (mobile === false) {
                        <a aria-haspopup="true" href="#">Sub link</a>
                    }
                    <ul class="sub-menu">
                        <li><a href="#">Sub Sub link</a></li>
                        <li><a href="#">Sub Sub link</a></li>
                        <li><a href="#">Sub Sub link</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    @@if (mobile === true) {
                        <a href="#">Sub link</a>
                        <button>More</button>
                    }
                    @@if (mobile === false) {
                        <a aria-haspopup="true" href="#">Sub link</a>
                    }
                    <ul class="sub-menu">
                        <li><a href="#">Sub Sub link</a></li>
                        <li><a href="#">Sub Sub link</a></li>
                        <li><a href="#">Sub Sub link</a></li>
                    </ul>
                </li>
                <li><a href="#">Sub link</a></li>
                <li><a href="#">Sub link</a></li>
                <li><a href="#">Sub link</a></li>
                <li><a href="#">Sub link</a></li>
            </ul>
        </li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Resource</a></li>
        <li><a href="#">Advertise</a></li>
        <li><a href="#">FAQ</a></li>
    </ul>
</nav>
