// Styles written by @@init_author_name @ @@init_author_company

/* ------------------------------------------------------------------------ *\
 * Blockquote
\* ------------------------------------------------------------------------ */

.blockquote {
    & {
        border-left: remify(2) solid $accent;
        margin: 0;
        padding: remify(0 0 0 24, 16);
    }
}

/* tablet variant */

@media screen and (min-width: $xs-break) {
    .blockquote {
        padding-left: remify(27, 16);
    }
}
