// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Blockquote
\* ------------------------------------------------------------------------ */

.blockquote {
    & {
        border-left: remify(2) solid color("accent");
        margin: 0;
        padding: remify(0 0 0 15, 16);
    }
}
