// Styles written by __gulp_init__author_name @ __gulp_init__author_company

/* ------------------------------------------------------------------------ *\
 * Text
\* ------------------------------------------------------------------------ */

.text {
    & {
        color: color("foreground");
        display: block;
        font-display: swap;
        font-family: $body-font;
        font-range: $xs-break $xl-break;
        font-size: responsive remify(16, 16) remify(18, 16);
        font-weight: 400;
        line-height: remify(20, 16);
        margin: remify(0 0 16, 16);
    }

    .button {
        font-range: $xs-break $xl-break;
        font-size: responsive remify(14, 16) remify(18, 18);
    }

    > .button:last-child {
        margin-bottom: 0 !important;
    }
}

/* label variant */

.text.-label {
    & {
        cursor: pointer;
    }
}

/* list variant */

.text.-list {
    & {
        padding: remify(0 0 0 24, 16);
    }

    .text_list-item {
        display: list-item;
    }

    .text_list-item:not(:last-child) {
        margin-bottom: remify(8, 16);
    }
}

/* list ordered variant */

.text.-list.-ordered {
    & {
        list-style: decimal;
    }
}

/* list unordered variant */

.text.-list.-unordered {
    & {
        list-style: disc;
    }
}

/* table variant */

.text_table_container {
    & {
        overflow: auto;
        width: 100%;
    }
}

.text.-table {
    & {
        border-collapse: collapse;
        display: table;
        width: 100%;
    }

    .text_header {
        display: table-header-group;
    }

    .text_body {
        display: table-row-group;
    }

    .text_footer {
        color: color("foreground", "tint");
        display: table-footer-group;
        font-style: italic;
    }

    .text_row {
        display: table-row;
    }

    .text_cell {
        border: 0;
        padding: remify(6 8, 16);
        text-align: left;
        vertical-align: top;
    }

    .text_header .text_cell {
        border-bottom: remify(2) solid color("background", "tint");
        font-weight: 700;
    }

    .text_body .text_cell.-header {
        font-weight: 700;
        text-align: left;
    }

    > .text_row:nth-child(even) .text_cell,
    .text_body .text_row:nth-child(even) .text_cell {
        background: color("background", "tint");
    }
}
