// Styles written by Jacob Bearce | jacob@bearce.me

/* ------------------------------------------------------------------------ *\
 * Generic Text Elements                                                    *
\* ------------------------------------------------------------------------ */

table {
}

table {
	display: table;
    overflow: visible;
    padding: 0;
}
