// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Text
\* ------------------------------------------------------------------------ */

.text {
    & {
        color: $foreground;
        font-family: $body-font;
        font-range: $xs-break $xl-break;
        font-size: responsive remify(12, 16) remify(16, 16);
        font-weight: 400;
        line-height: remify(18, 12);
        margin: remify(0 0 18, 12);
    }
}

/* label variant */

.text.-label {
    & {
        cursor: pointer;
    }
}

/* list variant */

.text.-list {
    & {
        list-style: disc;
        padding: remify(0 0 0 16, 12);
    }

    .text_list-item {
        display: list-item;
    }
}
