// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Text
\* ------------------------------------------------------------------------ */

.text {
    & {
        color: color("foreground");
        display: block;
        font-family: $body-font;
        font-size: remify(16, 16);
        font-weight: 400;
        line-height: remify(24, 16);
        margin: remify(0 0 15, 16);
    }

    .text {
        font-size: 1em;
    }

    > .button:last-child {
        margin-bottom: 0 !important;
    }
}

/* label variant */

.text--label {
    & {
        cursor: pointer;
        font-weight: 600;
    }
}

/* list variant */

.text--list {
    & {
        padding: remify(0 0 0 32, 16);
    }

    .text__list-item {
        display: list-item;
    }

    .text__list-item:not(:last-child) {
        margin-bottom: remify(4, 16);
    }
}

/* list ordered variant */

.text--list-ordered {
    & {
        list-style: decimal;
    }
}

/* list unordered variant */

.text--list-unordered {
    & {
        list-style: disc;
    }
}

/* table variant */

.text__table__container {
    & {
        overflow: auto;
        width: 100%;
    }
}

.text--table {
    & {
        border-collapse: collapse;
        display: table;
        width: 100%;
    }

    .text__header {
        display: table-header-group;
    }

    .text__body {
        display: table-row-group;
    }

    .text__footer {
        color: color("foreground", "tint");
        display: table-footer-group;
        font-style: italic;
    }

    .text__row {
        display: table-row;
    }

    .text__cell {
        border: 0;
        min-width: remify(125, 16);
        padding: remify(10 15, 16);
        text-align: left;
        vertical-align: top;
    }

    .text__header .text__cell,
    .text__body .text__cell--header {
        font-weight: 700;
    }

    .text__body .text__cell--header {
        text-align: left;
    }

    .text__header + .text__body > .text__row:first-child > .text__cell {
        border-top: remify(2) solid mix(color("primary", "tint"), color("background"));
    }

    > .text__row:nth-child(even) .text__cell,
    .text__body .text__row:nth-child(even) .text__cell {
        background: mix(color("primary", "tint"), color("background"));
    }

    > .text__row:nth-child(even) .text__cell:first-child,
    .text__body .text__row:nth-child(even) .text__cell:first-child {
        border-bottom-left-radius: remify(6);
        border-top-left-radius: remify(6);
    }

    > .text__row:nth-child(even) .text__cell:last-child,
    .text__body .text__row:nth-child(even) .text__cell:last-child {
        border-bottom-right-radius: remify(6);
        border-top-right-radius: remify(6);
    }
}
