// Styles written by @@init_author_name @ @@init_author_company

/* ------------------------------------------------------------------------ *\
 * Hero
\* ------------------------------------------------------------------------ */

.hero-block {
    & {
        @include layer("hero");
    }
}

.hero_inner {
    & {
        background: $background;
        margin: 0 auto;
        max-width: remify($site-width);
        padding: remify(($content-padding * 0.75) $content-padding);
    }
}

/* fullbleed variant */

.hero-block.-fullbleed {
    & {
        background: $background;
        padding: remify(($content-padding * 0.75) $content-padding);
    }

    > .hero_inner {
        background: none;
        padding: 0;
    }

    > .hero_inner.-fullbleed {
        max-width: none;
    }
}
