// Styles written by __gulp_init__author_name @ __gulp_init__author_company

/* ------------------------------------------------------------------------ *\
 * Hero
\* ------------------------------------------------------------------------ */

.hero-block {
    & {
        @include layer("hero");
    }
}

.hero__inner {
    & {
        background: color("background");
        margin: 0 auto;
        max-width: remify($site-width);
        padding: remify(($content-padding * 0.75) $content-padding);
    }
}

/* fullbleed variant */

.hero-block.--fullbleed {
    & {
        background: color("background");
        padding: remify(($content-padding * 0.75) $content-padding);
    }

    > .hero__inner {
        background: none;
        padding: 0;
    }

    > .hero__inner.--fullbleed {
        max-width: none;
    }
}
