// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Hero
\* ------------------------------------------------------------------------ */

.hero_header {
    & {
        background: transparentize($dark, 0.2);
    }
    
    .hero_figure > & {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        z-index: 2;
    }
}
