// Styles written by Jacob Bearce | jacob@bearce.me

/*
 * ------------------------------------------------------------------------
 * general
 * ------------------------------------------------------------------------
 */

input,
label,
.select,
select,
textarea {
    color: $foreground;
    font-family: $body-font;
    @include font-size(16);
    @include line-height(24, 16);

}

label {
	display: block;
    @include margin(0 0 10, 16);
}

label:hover {
	cursor: pointer;
}

/*
 * ------------------------------------------------------------------------
 * placeholder text
 * ------------------------------------------------------------------------
 */

@include placeholder {
	color: lighten($foreground, 15%);
    opacity: 1;
}

/*
 * ------------------------------------------------------------------------
 * buttons
 * ------------------------------------------------------------------------
 */

// actual buttons

button,
input[type=button],
input[type=reset],
input[type=submit],
.button {
	background: $accent;
	border: 0;
    color: darken($accent, 15%);
	display: inline-block;
    font-family: $body-font;
    @include font-size(16);
    font-weight: 700;
	@include margin(0 0 10, 16);
	@include padding(6 10, 16);
	transition: background 0.15s, color 0.15s;
}

button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover,
.button:hover {
	background: lighten($accent, 15%);
    color: $accent;
}

// check/radio buttons

input[type=checkbox],
input[type=radio] {
	left: -999em;
	position: absolute;

    & + label {
		position: relative;
        @include padding(11 0 11 52, 16);

        &:before {
            @include border(1, solid, $accent);
            color: $accent;
            content: "\0020";
            display: block;
            float: left;
            @include font-size(24, 16);
            @include height(42, 24);
            left: 0;
            @include line-height(38, 24);
            position: absolute;
            text-align: center;
            top: 0;
            @include width(42, 24);

            // webkit focus rings to emulate checkbox/radio
            .-webkit- &:active,
            .-webkit- &:focus {
                outline: -webkit-focus-ring-color auto 5px;
            }

            // trident focus rings to emulate checkbox/radio
            .-ms- &:active,
            .-ms- &:focus {
                outline: #808080 dashed 1px;
            }
        }

        &:hover {
            cusror: pointer;
        }
    }

    &:focus + label {
        &:before {
            outline: -webkit-focus-ring-color auto 5px;
        }
    }

    &[disabled] + label {
        &:before {
            background: darken($background, 15%);
        }
    }
}

	input[type=checkbox]:checked + label:before {
        @include icon("fontawesome", "check");
	}

	input[type=radio] + label:before {
        border-radius: 50%;
	}

	input[type=radio]:checked + label:before {
        @include icon("fontawesome", "circle");
	}



/*
 * ------------------------------------------------------------------------
 * text fields
 * ------------------------------------------------------------------------
 */

// general

input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
.select,
textarea {
	background: $background;
    @include border(1, solid, $accent, 16);
	box-sizing: border-box;
	display: block;
	@include margin(0 0 10, 16);
	outline: none;
	@include padding(8 15 10, 16);
	text-overflow: ellipsis;
	width: 100%;
}

// select

.select {
	padding: 0;
    position: relative;

    &:before {
        color: $accent;
        display: block;
        @include icon("fontawesome", "chevron-down");
        @include font-size(24);
        @include height(42, 24);
        @include line-height(38, 24);
        pointer-events: none;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        @include width(42, 24);
    }

    select {
		background: none;
		border: 0;
		display: block;
		margin: 0;
		outline: none;
        @include padding(8 42 9 12, 16);
		width: 100%;
        // gecko fix
		text-indent: 0.01px;
    	text-overflow: "";
        // webkit & gecko fix
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        // trident fix
        &::-ms-expand {
            display: none;
        }

        &:hover {
            cursor: pointer;
        }

        option {
			background: #FFF;
			color: #000;

            &:hover {
                background: #DDD;
            }
        }
    }
}

// textarea

textarea {
	max-width: 100%;
	@include min-height(100, 16);
	min-width: 100%;
}

/*
 * ------------------------------------------------------------------------
 * reCAPTCHA
 * ------------------------------------------------------------------------
 */

.g-recaptcha {
    @include margin(0, 0, 10);
}

