// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Content
\* ------------------------------------------------------------------------ */

.content-block {
    & {
        @include layer("content");
    }

    .is-fluidboxactive & {
        position: static;
    }
}

.content_inner {
    & {
        background: $background;
        margin: 0 auto;
        max-width: remify($site-width);
        padding: remify(25);
    }
}

// fullbleed variant

.content-block.-fullbleed {
    & {
        background: $background;
        padding: remify(25);
    }

    > .content_inner {
        background: none;
        padding: 0;
    }
}
