// Styles written by Jacob Bearce | jacob@bearce.me

/* ------------------------------------------------------------------------ *\
 * Content                                                                  *
\* ------------------------------------------------------------------------ */

.content-wrapper {
    @include layer("content");

    font-size: 16px;
    font-size: remify(16);
    padding: 0 20px;
    padding: remify(0 20);
}

.content {
    margin: 0 auto;
    width: $site-width + px;
    width: remify($site-width);
}

.post {
}

.sidebar {
}
