// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Page                                                                     *
\* ------------------------------------------------------------------------ */

:root {
    & {
        font-size: remify(16, 16);
    }
}

html,
body {
    & {
        width: 100%;
    }
}

body {
    & {
        background: $background;
    }
}

html.-navactive,
html.-navactive body {
    & {
        height: 100%;
        overflow: hidden;
        width: 100%;
    }
}

.page-wrapper {
    & {
        background: $background;
        left: 0;
        min-height: 100%;
        position: relative;
        transition: box-shadow 0.15s, left 0.15s;
        width: 100%;
        z-index: 2;
    }

    html.-navactive & {
        box-shadow: remify(0 0 10, 16) black(0.5);
        height: 100%;
        left: - $mobile-nav-width + px;
        left: - remify($mobile-nav-width);
        overflow: hidden;
        width: 100%;
    }
}
