// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Page                                                                     *
\* ------------------------------------------------------------------------ */

:root {
    & {
        font-size: remify(16, 16);
    }
}

html,
body {
    & {
        height: 100%;
        width: 100%;
    }
}

body {
    & {
        background: $page_background;
    }
}

.page-wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    &:before {
        background: transparentize($dark, 0.25);
        bottom: 999em;
        content: "\0020";
        display: block;
        left: 999em;
        opacity: 0;
        position: absolute;
        right: -999em;
        top: -999em;
        transition: bottom 0s 0.15s, left 0s 0.15s, opacity 0.15s, right 0s 0.15s, top 0s 0.15s;
        z-index: 997;
    }

    html.-navactive &:before {
        bottom: 0;
        left: 0;
        opacity: 1;
        right: 0;
        top: 0;
        transition: opacity 0.15s;
    }
}
