{
    "extends": ["google"],
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "globals": {
        "l10n"
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "indent": [
            2,
            4
        ],
        "key-spacing": [
            "error",
            {
                "align": "value",
                "mode": "strict"
            }
        ],
        "max-len": 0,
        "quotes": 
        [
            2,
            "double"
        ]
    }
}
