{
    "plugins": [
        "stylelint-order",
        "stylelint-scss"
    ],
    "extends": [
        "stylelint-config-standard"
    ],
    "rules": {
        "color-hex-case": "upper",
        "color-hex-length": "long",
        "indentation": 4,
        "order/order": [
			"custom-properties",
			"declarations"
		],
		"order/properties-alphabetical-order": true
    }
}
