// Styles written by Jacob Bearce | jacob@bearce.me

/* ------------------------------------------------------------------------ *\
 * Content                                                                  *
\* ------------------------------------------------------------------------ */

#content {
    max-width: $site-width + px;
    max-width: remify($site-width);
    width: auto;
}
