// Styles written by Jacob Bearce | jacob@bearce.me

/* ------------------------------------------------------------------------ *\
 * Slideshow                                                                *
\* ------------------------------------------------------------------------ */

.slideshow-wrapper {
    @include layer("slideshow");

    font-size: 16px;
    font-size: remify(16);
    padding: 0 20px;
    padding: remify(0 20);
}

.slideshow {
    @include clear;

    margin: 0 auto;
    max-width: $site-width + px;
    max-width: remify($site-width);
}
