// Styles written by __gulp_init__author_name @ __gulp_init__author_company

/* ------------------------------------------------------------------------ *\
 * Menu List
\* ------------------------------------------------------------------------ */

/* ============================ GLOBAL VARIANTS =========================== */

.menu-list__container {
    & {
        clear: fix;
    }
}

.menu-list {
    & {
        clear: fix;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
    }
}

.menu-list__item {
    & {
        float: left;
        position: relative;
    }

    &.--parent {
        display: flex;
        flex-wrap: wrap;
    }
}

.menu-list__link {
    & {
        display: block;
    }

    .menu-list__item.--parent > & {
        flex: 1 1 1%;
        min-width: 0;
    }
}

.menu-list__toggle {
    & {
        background: none;
        border: 0;
        cursor: pointer;
        display: block;
        flex: 0 0 auto;
        font-size: 1em;
        margin: 0;
    }

    > .toggle__icon {
        transition: transform 0.15s;
    }

    .menu-list__item.is-active > & > .toggle__icon {
        transform: rotate(-180deg);
    }
}

/* flex variant */

.menu-list.--flex {
    & {
        display: flex;
    }

    &:not(.--between) {
        text-align: center;
    }

    &::after {
        display: none;
    }

    > .menu-list__item {
        flex: 1 1 0%;
    }

    &:not(.--between):not(.--center) > .menu-list__item {
        min-width: 0;
    }
}

/* flex between variant */

.menu-list.--flex.--between {
    & {
        justify-content: space-between;
    }

    > .menu-list__item {
        flex: 0 0 auto;
    }
}

/* flex center variant */

.menu-list.--flex.--center {
    & {
        justify-content: center;
    }

    > .menu-list__item {
        flex: 0 0 auto;
    }
}

/* vertical variant */

.menu-list.--vertical {
    > .menu-list__item {
        float: none;
    }
}

/* child variant */

.menu-list.--child {
    & {
        min-width: 100%;
    }

    .menu-list__item {
        float: none;
    }
}

/* child accordion variant */

.menu-list.--child.--accordion {
    & {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.25s, visibility 0s 0.25s;
        visibility: hidden;
    }

    .menu-list__item.--parent.is-active > & {
        max-height: remify(1000, 16);
        transition: max-height 0.25s;
        visibility: visible;
    }
}

/* child overlay variant */

.menu-list.--child.--overlay {
    & {
        left: -999em;
        opacity: 0;
        position: absolute;
        top: -999em;
        transition: left 0s 0.15s, opacity 0.15s, top 0s 0.15s, visibility 0s 0.15s;
        visibility: hidden;
    }

    .menu-list__item.--parent:hover > &,
    .menu-list__item.--parent.is-active > & {
        left: 0;
        opacity: 1;
        top: 100%;
        transition: opacity 0.15s;
        visibility: visible;
    }

    // must be separate from the above ruleset for fallback reasons

    .menu-list__item.--parent:focus-within > & {
        left: 0;
        opacity: 1;
        top: 100%;
        transition: opacity 0.15s;
        visibility: visible;
    }
}

/* child overlay depth 2 variant */

.menu-list.--child.--overlay.--depth-2 {
    .menu-list__item.--parent:hover > &,
    .menu-list__item.--parent.is-active > & {
        left: 100%;
        top: 0;
    }

    // must be separate from the above ruleset for fallback reasons

    .menu-list__item.--parent:focus-within > & {
        left: 100%;
        top: 0;
    }
}

/* ============================ CUSTOM VARIANTS =========================== */

/* mega variant */

.menu-list__container.--mega {
    & {
        display: flex;
        left: -999em;
        opacity: 0;
        position: absolute;
        top: -999em;
        transition: left 0s 0.15s, opacity 0.15s, top 0s 0.15s, visibility 0s 0.15s;
        visibility: hidden;
    }

    .menu-list__item.--mega.--parent:hover > &,
    .menu-list__item.--mega.--parent.is-active > & {
        left: 0;
        opacity: 1;
        top: 100%;
        transition: opacity 0.15s;
        visibility: visible;
    }

    .menu-list.--depth-1 {
        flex: 0 0 auto;
    }

    .menu-list.--depth-2 {
        flex: 0 0 100%;
    }
}

/* meta variant */

.menu-list.--meta {
    & {
        color: color("foreground", "tint");
        font-display: swap;
        font-family: $heading-font;
        font-size: remify(14, 16);
        font-weight: 700;
        margin: remify(0 0 14, 14);
        text-align: left;
        text-transform: uppercase;
    }

    .menu-list__item:not(:last-child) {
        margin-right: remify(20, 14);
    }

    .menu-list__link {
        color: color("foreground", "tint");
        display: inline-block;
    }

    .menu-list__link:hover {
        color: color("foreground", "tint");
    }
}

/* navigation variant */

.menu-list.--navigation {
    & {
        font-display: swap;
        font-family: $body-font;
        font-size: remify(20, 16);
        font-weight: 400;
    }

    .menu-list__link,
    .menu-list__toggle {
        color: color("light");
        padding: remify(8 16, 20);
        transition: background-color 0.15s;
    }

    .menu-list__link:focus,
    .menu-list__link:hover,
    .menu-list__item:hover > .menu-list__link,
    .menu-list__item.is-active > .menu-list__link,
    .menu-list__toggle:focus,
    .menu-list__toggle:hover,
    .menu-list__item:hover > .menu-list__toggle,
    .menu-list__item.is-active > .menu-list__toggle {
        background-color: color("accent", "tint");
    }

    // must be separate from the above ruleset for fallback reasons

    .menu-list__item:focus-within > .menu-list__link,
    .menu-list__item:focus-within > .menu-list__toggle {
        background-color: color("accent", "tint");
    }

    /* child */

    .menu-list.--child {
        background: color("accent", "tint");
        font-size: remify(16, 20);
    }

    .menu-list.--child.--overlay {
        min-width: remify(250, 16);
    }

    .menu-list.--child .menu-list__link,
    .menu-list.--child .menu-list__toggle {
        padding: remify(4 16, 16);
    }

    .menu-list.--child > .menu-list__item:first-child > .menu-list__link,
    .menu-list.--child > .menu-list__item:first-child > .menu-list__toggle {
        padding-top: remify(8, 16);
    }

    .menu-list.--child:not(.--mega) > .menu-list__item:last-child > .menu-list__link,
    .menu-list.--child:not(.--mega) > .menu-list__item:last-child > .menu-list__toggle,
    .menu-list.--child.--mega > .menu-list__item:not(.--parent):last-child > .menu-list__link,
    .menu-list.--child.--mega > .menu-list__item:not(.--parent):last-child > .menu-list__toggle {
        padding-bottom: remify(8, 16);
    }

    .menu-list.--child .menu-list__link:focus,
    .menu-list.--child .menu-list__link:hover,
    .menu-list.--child .menu-list__item:hover > .menu-list__link,
    .menu-list.--child .menu-list__item.is-active > .menu-list__link,
    .menu-list.--child .menu-list__toggle:focus,
    .menu-list.--child .menu-list__toggle:hover,
    .menu-list.--child .menu-list__item:hover > .menu-list__toggle,
    .menu-list.--child .menu-list__item.is-active > .menu-list__toggle {
        background-color: lighten(color("accent", "tint"), 5);
    }

    // must be separate from the above ruleset for fallback reasons

    .menu-list.--child .menu-list__item:focus-within > .menu-list__link,
    .menu-list.--child .menu-list__item:focus-within > .menu-list__toggle {
        background-color: lighten(color("accent", "tint"), 5);
    }

    /* child depth 2 */

    .menu-list.--child.--depth-2 {
        background-color: lighten(color("accent", "tint"), 5);
        font-size: remify(16, 16);
    }

    // line up the flyout with its parent
    .menu-list__item.--parent:not(:first-child) > .menu-list.--child.--depth-2.--overlay {
        transform: translateY(#{remify(-4, 20)});
    }

    /* mega */

    .menu-list__container.--mega {
        background: color("accent", "tint");
    }

    .menu-list.--child.--mega {
        background: none;
    }

    .menu-list.--child.--depth-1.--mega {
        min-width: 0;
        width: remify(200, 16);
    }

    .menu-list.--child.--depth-1.--mega:not(:last-child) {
        border-right: remify(1) solid color("accent", "shade");
    }

    .menu-list.--child.--mega.--depth-2 .menu-list__link {
        // image path must be relative to gulpfile.js
        background-image: str-replace(inline-svg-file("./src/assets/media/icon-angle-right.svg"), "path", "path%20fill%3D%22#{str-replace(#{color("light")}, "#", "%23")}%22");
        background-position: remify(16 8, 16);
        background-repeat: no-repeat;
        background-size: remify(10 10, 16);
        border-bottom: 0;
        padding-left: remify(32, 16);
    }

    // accomodate the additional padding on first menu items
    .menu-list.--child.--mega.--depth-2 > .menu-list__item:first-child > .menu-list__link {
        background-position: remify(16 12, 16);
    }

    /* accordions */

    &.--accordion .menu-list.--child {
        font-size: remify(20, 20);
    }

    &.--accordion .menu-list.--child::after {
        background: color("accent", "shade");
        bottom: 0;
        clear: both;
        content: "";
        height: remify(1);
        left: 0;
        position: absolute;
        width: 100%;
    }

    &.--accordion .menu-list.--child .menu-list__link,
    &.--accordion .menu-list.--child .menu-list__toggle {
        padding: remify(8 16, 20);
    }

    &.--accordion .menu-list.--child > .menu-list__item:first-child > .menu-list__link,
    &.--accordion .menu-list.--child > .menu-list__item:first-child > .menu-list__toggle {
        padding-top: remify(16, 20);
    }

    &.--accordion .menu-list.--child:not(.--mega) > .menu-list__item:last-child > .menu-list__link,
    &.--accordion .menu-list.--child:not(.--mega) > .menu-list__item:last-child > .menu-list__toggle,
    &.--accordion .menu-list.--child.--mega > .menu-list__item:not(.--parent):last-child > .menu-list__link,
    &.--accordion .menu-list.--child.--mega > .menu-list__item:not(.--parent):last-child > .menu-list__toggle {
        padding-bottom: remify(16, 20);
    }
}

/* pagination variant */

.menu-list.--pagination {
    & {
        font-display: swap;
        font-family: $body-font;
        font-size: remify(14, 16);
        font-weight: 400;
    }

    .menu-list__item:not(:last-child) {
        margin-right: remify(8, 14);
    }

    .menu-list__link.--current {
        color: color("foreground");
        cursor: auto;
    }
}

/* submenu variant */

.menu-list.--submenu {
    & {
        font-display: swap;
        font-family: $body-font;
        font-size: remify(18, 16);
        font-weight: 400;
    }

    .menu-list__link {
        border-bottom: remify(2) solid color("background", "shade");
        padding: remify(9 0, 18);
    }

    .menu-list.--child {
        padding: remify(4.5 0, 18);
    }

    .menu-list.--child .menu-list__link {
        // image path must be relative to gulpfile.js
        background-image: str-replace(inline-svg-file("./src/assets/media/icon-angle-right.svg"), "path", "path%20fill%3D%22#{str-replace(#{color("light", "shade")}, "#", "%23")}%22");
        background-position: remify(0 11, 18);
        background-repeat: no-repeat;
        background-size: remify(13.5 13.5, 18);
        border-bottom: 0;
        padding: remify(4.5 0 4.5 18, 18);
    }

    .menu-list.--child.--depth-2 {
        padding-left: remify(18, 18);
    }
}
