// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Title
\* ------------------------------------------------------------------------ */

.title {
    & {
        color: color("foreground");
        font-display: swap;
        font-family: $heading-font;
        font-size: remify(48, 16);
        font-weight: 700;
        line-height: remify(57.6, 48);
        margin: remify(0 0 10);
    }
}

.title--h2 {
    & {
        font-size: remify(32, 16);
    }
}

.title--h3 {
    & {
        font-size: remify(24, 16);
    }
}

.title--h4 {
    & {
        font-size: remify(20, 16);
    }
}

.title--h5 {
    & {
        font-size: remify(18, 16);
        font-weight: 600;
    }
}

.title--h6 {
    & {
        font-size: remify(16, 16);
        font-weight: 600;
        margin-bottom: 0;
        text-transform: uppercase;
    }
}

/* divider variant */

.title--divider {
    & {
        align-items: center;
        display: flex;
    }

    &::before,
    &::after {
        background: color("background", "shade");
        content: "\0020";
        display: block;
        flex: 1 1 0%;
        height: remify(1);
    }

    &::before {
        margin-right: remify(16, 16);
    }

    &::after {
        margin-left: remify(16, 16);
    }
}
