// Styles written by @@init_author_name @ @@init_author_company

/* ------------------------------------------------------------------------ *\
 * Title
\* ------------------------------------------------------------------------ */

.title {
    &,
    &.-h1,
    &.-h2 {
        color: $primary;
        font-display: swap;
        font-family: $heading-font;
        font-range: $xs-break $xl-break;
        font-size: responsive remify(20, 16) remify(24, 16);
        font-weight: 700;
        line-height: remify(30, 20);
        margin: remify(0 0 10, 20);
    }

    &.-h3,
    &.-h4 {
        font-range: $xs-break $xl-break;
        font-size: responsive remify(18, 16) remify(21.6, 16);
        line-height: remify(26, 18);
        margin: remify(0 0 8, 18);
    }

    &.-h5,
    &.-h6 {
        font-range: $xs-break $xl-break;
        font-size: responsive remify(16, 16) remify(19.2, 16);
        line-height: remify(24, 16);
        margin: remify(0 0 8, 16);
    }

    &.-h2,
    &.-h4,
    &.-h6 {
        color: $foreground;
    }
}

/* divider variant */

.title.-divider {
    & {
        align-items: center;
        display: flex;
    }

    &::before,
    &::after {
        background: darken($background_alt, 10);
        content: "\0020";
        display: block;
        flex: 1 1 0%;
        height: remify(1);
    }

    &::before {
        margin-right: remify(16, 16);
    }

    &::after {
        margin-left: remify(16, 16);
    }
}
