// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Button
\* ------------------------------------------------------------------------ */

.button {
    & {
        background: $primary;
        border: 0;
        color: $light;
        cursor: pointer;
        display: inline-block;
        font-family: $heading-font;
        font-size: remify(14, 16);
        font-weight: 700;
        line-height: remify(20, 14);
        outline: 0;
        margin: remify(0 0 20, 14);
        padding: remify(8 12, 14);
        text-decoration: none;
        transition: background 0.15s;
    }

    &:focus,
    &:hover {
        background: $primary_alt;
    }
}

/* Desktop variant */

@media screen and (min-width: $xs-break) {
    .button {
        font-size: remify(18, 16);
    }
}
