// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Button
\* ------------------------------------------------------------------------ */

.button {
    & {
        background: $primary;
        border: 0;
        color: $light;
        cursor: pointer;
        display: inline-block;
        font-display: swap;
        font-family: $heading-font;
        font-range: $xs-break $xl-break;
        font-size: responsive remify(14, 16) remify(18, 16);
        font-weight: 700;
        line-height: remify(20, 14);
        margin: remify(0 0 20, 14);
        outline: 0;
        padding: remify(8 12, 14);
        text-decoration: none;
        transition: background-color 0.15s;
    }

    &:focus,
    &:hover {
        background-color: $primary_alt;
    }
}
