// Styles written by Jacob Bearce | jacob@bearce.me

/* ------------------------------------------------------------------------ *\
 * Page                                                                     *
\* ------------------------------------------------------------------------ */

html,
body {
    height: 100%;
    overflow-x: hidden;
    width: 100%;
    // iOS fix
    -webkit-overflow-scrolling: touch;
}
