<script id="tmpl-nf-field-listselect" type="text/template">
    <div class="input -select <# if ( data.renderWrapClass() !== "field-wrap listmultiselect-wrap list-multiselect-wrap" ) { #> -arrow<# } #>">
        <select id="nf-field-{{{ data.id }}}" name="nf-field-{{{ data.id }}}" class="{{{ data.renderClasses() }}} nf-element input_inner" {{{ data.renderOtherAttributes() }}}>
            {{{ data.renderOptions() }}}
        </select>
        <# if ( data.renderWrapClass() !== "field-wrap listmultiselect-wrap list-multiselect-wrap" ) { #>
        <i class="input_arrow fa fa-caret-down"></i>
        <# } #>
    </div>
    <div for="nf-field-{{{ data.id }}}"></div>
</script>

<script id="tmpl-nf-field-listselect-option" type="text/template">
	<option value="{{{ data.value }}}" {{{ ( 1 == data.selected ) ? 'selected="selected"' : '' }}}>{{{ data.label }}}</option>
</script>
