<script id="tmpl-nf-field-label" type="text/template">
    <# if ( data.renderWrapClass() !== "field-wrap hr-wrap" && data.renderWrapClass() !== "field-wrap html-wrap" && data.renderWrapClass() !== "field-wrap recaptcha-wrap" ) { #>
    <div class="nf-field-label"><label for="nf-field-{{{ data.id }}}" class="{{{ data.renderLabelClasses() }}} nf-text text --label<# if (data.label_pos === 'hidden') { #> __visuallyhidden<# } #>">{{{ data.label }}} {{{ ( 'undefined' != typeof data.required && 1 == data.required ) ? '<span class="ninja-forms-req-symbol __warning">*</span>' : '' }}} {{{ data.maybeRenderHelp() }}}</label></div>
    <# } #>
</script>
