<script id="nf-tmpl-field-listselect" type="text/template">
    <div class="input -select <% if (renderWrapClass() !== "field-wrap listmultiselect-wrap list-multiselect-wrap") { %> -arrow<% } %>">
        <select id="nf-field-<%= id %>" name="nf-field-<%= id %>" class="<%= renderClasses() %> nf-element input_inner" <%= renderOtherAttributes() %>>
            <%= renderOptions() %>
        </select>
        <% if (renderWrapClass() !== "field-wrap listmultiselect-wrap list-multiselect-wrap") { %>
        <i class="input_arrow fa fa-caret-down"></i>
        <% } %>
    </div>
    <div for="nf-field-<%= id %>"></div>
</script>

<script id="nf-tmpl-field-listselect-option" type="text/template">
	<option value="<%= value %>" <%= ( 1 == selected ) ? 'selected="selected"' : '' %>><%= label %></option>
</script>
