// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Tribe Events Bar (https://theeventscalendar.com/)
\* ------------------------------------------------------------------------ */

/* stylelint-disable selector-max-id */

#tribe-events-bar {
    & {
        position: relative;
        z-index: 1;
    }
}

#tribe-bar-collapse-toggle {
    & {
        align-items: center;
        background: color("background", "shade");
        border: 0;
        color: color("foreground");
        cursor: pointer;
        display: flex;
        font-family: $body-font;
        font-size: remify(16, 16);
        font-weight: 700;
        justify-content: space-between;
        margin: remify(0 0 16, 16);
        padding: remify(16 24, 16);
        text-align: left;
        text-transform: uppercase;
        transition: background-color 0.15s;
        width: 100%;
    }

    &:focus,
    &:hover,
    &.tribe-bar-filters-open {
        background-color: color("background", "shade");
    }

    .tribe-bar-toggle-arrow {
        transition: transform 0.15s;
    }

    &.tribe-bar-filters-open .tribe-bar-toggle-arrow {
        transform: rotate(-180deg);
    }

    .tribe-bar-full &,
    .tribe-bar-mini & {
        display: none;
    }
}

#tribe-bar-form {
    &.tribe-bar-full,
    &.tribe-bar-mini {
        display: flex;
    }
}

#tribe-bar-filters-wrap {
    & {
        position: relative;
    }

    .tribe-bar-full &,
    .tribe-bar-mini & {
        flex: 1 1 0%;
    }
}

.tribe-bar-filters {
    & {
        background: color("background", "shade");
        display: none;
        margin: remify(0 0 16, 16);
        width: 100%;
        z-index: 10;
    }

    @media screen and (max-width: 1187px) {
        left: 0;
        position: absolute;
        top: 100%;
    }
}

.tribe-bar-filters-inner {
    & {
        padding: remify(16 24, 16);
    }

    .tribe-bar-full &,
    .tribe-bar-mini & {
        align-items: flex-end;
        display: flex;
    }
}

.tribe-bar-date-filter,
.tribe-bar-search-filter {
    .tribe-bar-full &,
    .tribe-bar-mini & {
        flex: 1 1 0%;
        margin-right: remify(10, 16);
    }
}

.label-tribe-bar-date,
.label-tribe-bar-search {
    & {
        color: color("foreground");
        display: block;
        font-family: $body-font;
        font-size: remify(10, 16);
        font-weight: 700;
        margin: remify(0 0 2, 10);
        text-transform: uppercase;
    }
}

#tribe-bar-date,
#tribe-bar-search {
    & {
        background: color("background");
        border: remify(1) solid color("foreground");
        color: color("foreground");
        display: block;
        font-family: $body-font;
        font-size: remify(14, 16);
        margin: remify(0 0 8, 14);
        padding: remify(7 10.5, 14);
        width: 100%;
    }

    .tribe-bar-full &,
    .tribe-bar-mini & {
        margin-bottom: 0;
    }
}

.tribe-bar-submit .tribe-events-button {
    & {
        background: color("primary");
        border: remify(1) solid color("primary", "shade");
        color: color("light");
        cursor: pointer;
        display: block;
        font-family: $body-font;
        font-size: remify(14, 16);
        font-weight: 700;
        margin: remify(0 0 8, 14);
        padding: remify(7 10.5, 14);
        text-transform: uppercase;
        transition: background-color 0.15s;
        width: 100%;
    }

    &:focus,
    &:hover {
        background-color: color("primary", "shade");
    }

    .tribe-bar-full &,
    .tribe-bar-mini & {
        flex: 0 0 auto;
        margin-bottom: 0;
        width: auto;
    }
}

.tribe-bar-views {
    & {
        background: darken(color("background", "shade"), 10);
        margin: remify(0 0 16, 16);
        padding: remify(16 13.5, 16);
        position: relative;
    }

    [class*="tribe-icon-"] {
        display: inline-block;
        height: remify(16, 16);
        margin-right: remify(4, 16);
        width: remify(16, 16);
    }

    .tribe-icon-day {
        background-image: svg-load("../media/vendor/tribe-icon-day.svg", fill=#{color("foreground")});
    }

    .tribe-icon-list {
        background-image: svg-load("../media/vendor/tribe-icon-list.svg", fill=#{color("foreground")});
    }

    .tribe-icon-map {
        background-image: svg-load("../media/vendor/tribe-icon-map.svg", fill=#{color("foreground")});
    }

    .tribe-icon-month {
        background-image: svg-load("../media/vendor/tribe-icon-month.svg", fill=#{color("foreground")});
    }

    .tribe-icon-photo {
        background-image: svg-load("../media/vendor/tribe-icon-photo.svg", fill=#{color("foreground")});
    }

    .tribe-icon-week {
        background-image: svg-load("../media/vendor/tribe-icon-week.svg", fill=#{color("foreground")});
    }

    .tribe-bar-full &,
    .tribe-bar-mini & {
        flex: 0 0 auto;
        width: remify(115, 16);
    }
}

.tribe-bar-views-list {
    & {
        display: none;
    }
}

#tribe-bar-views-label {
    & {
        color: color("foreground");
        display: block;
        font-family: $body-font;
        font-size: remify(10, 16);
        font-weight: 700;
        margin: remify(0 0 2, 10);
        padding: remify(0 10.5, 10);
        text-transform: uppercase;
    }
}

.tribe-bar-views-toggle {
    & {
        align-items: center;
        background: none;
        border: 0;
        color: color("foreground");
        cursor: pointer;
        display: flex;
        font-family: $body-font;
        font-size: remify(14, 16);
        margin: 0;
        padding: remify(8 10.5, 14);
        text-align: left;
        width: 100%;
    }

    [class*="tribe-icon-"] {
        flex: 0 0 auto;
    }
}

.tribe-bar-views-list {
    & {
        background: darken(color("background", "shade"), 10);
        left: 0;
        list-style: none;
        margin: 0;
        padding: remify(16 13.5, 16);
        position: absolute;
        width: 100%;
    }

    .tribe-bar-views-option {
        align-items: center;
        background: none;
        border: 0;
        color: color("foreground");
        cursor: pointer;
        display: flex;
        font-family: $body-font;
        font-size: remify(14, 16);
        margin: 0;
        padding: remify(3.5 10.5, 14);
        text-align: left;
        width: 100%;
    }

    [class*="tribe-icon-"] {
        flex: 0 0 auto;
    }
}

.datepicker {
    & {
        color: color("foreground");
        font-family: $body-font;
    }
}
