/*removeIf(tribe_css_js_php)*/// Styles written by __gulp_init__author_name @ __gulp_init__author_company

/* ------------------------------------------------------------------------ *\
 * Tribe Events General
\* ------------------------------------------------------------------------ */

/* stylelint-disable no-descending-specificity, selector-class-pattern, selector-max-id, selector-no-qualifying-type, selector-max-type */

/* Tribe is stupidly specific with their classes... */

/* Button */

.tribe-events-button {
    & {
        @extend .button;
    }
}

/* Loader */

.tribe-events-ajax-loading {
    & {
        display: none;
    }
}

/* Content */

#tribe-events-content {
    & {
        margin: 0;
        padding: 0;
    }
}

/* Footer */

#tribe-events-footer {
    & {
        margin-bottom: 0;
    }
}/*endRemoveIf(tribe_css_js_php)*/
