// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Tribe Events Notices (https://theeventscalendar.com/)
\* ------------------------------------------------------------------------ */

.tribe-events-notices {
    & {
        background: color("error");
        border: remify(1) solid color("error", "shade");
        border-radius: remify(8, 16);
        color: color("light");
        font-size: remify(16, 16);
        margin: remify(0 0 16, 16);
        padding: remify(8 12, 16);
    }
}

.tribe-events-notices__text {
    & {
        color: color("light");
        font-size: remify(16, 16);
        margin: 0;
    }

    &.text--list {
        list-style: none;
        padding: 0;
    }
}
