// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Tribe Events (https://theeventscalendar.com/)
\* ------------------------------------------------------------------------ */

/* stylelint-disable selector-class-pattern, selector-max-id, selector-max-type, selector-no-qualifying-type */

$tribe_primary: color("primary");
$tribe_foreground: #141827;
$tribe_font: "Helvetica Neue", "Helvetica", -apple-system, BlinkMacSystemFont, "Roboto", "Arial", sans-serif; // stylelint-disable-line

/* loader */

.tribe-common .tribe-common-c-loader__dot {
    & {
        background-color: transparentize($tribe_primary, 0.93);
    }
}

@keyframes a {
    50% {
        background-color: $tribe_primary;
    }
}

/* buttons */

.tribe-common .tribe-common-c-btn,
.tribe-common a.tribe-common-c-btn {
    & {
        background-color: $tribe_primary;
    }

    &:focus,
    &:hover {
        background-color: transparentize($tribe_primary, 0.2);
    }

    &:active {
        background-color: transparentize($tribe_primary, 0.1);
    }
}

#tribe-events .tribe-events-button,
.tribe-events-button {
    & {
        font-family: $tribe_font;
    }
}

#tribe-events .tribe-events-button,
#tribe-events .tribe-events-button:hover,
#tribe_events_filters_wrapper input[type="submit"],
.tribe-events-button,
.tribe-events-button.tribe-active:hover,
.tribe-events-button.tribe-inactive,
.tribe-events-button:hover,
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"],
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a {
    & {
        background-color: $tribe_primary;
    }
}

/* featured */

.tribe-common .tribe-common-svgicon--featured {
    & {
        background-image: svg-load("../media/vendor/tribe-featured.svg", fill=#{$tribe_primary});
    }
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-datetime-featured-text {
    & {
        color: $tribe_primary;
    }
}

/* notices */

.tribe-events-notices {
    & {
        font-family: $tribe_font;
    }
}

.tribe-events .tribe-events-c-messages__message--notice::before {
    & {
        background-image: svg-load("../media/vendor/tribe-calendar-x.svg", stroke=#{$tribe_primary});
    }
}

/* datepicker */

.tribe-events .datepicker .day.active,
.tribe-events .datepicker .day.active.focused,
.tribe-events .datepicker .day.active:focus,
.tribe-events .datepicker .day.active:hover,
.tribe-events .datepicker .month.active,
.tribe-events .datepicker .month.active.focused,
.tribe-events .datepicker .month.active:focus,
.tribe-events .datepicker .month.active:hover,
.tribe-events .datepicker .year.active,
.tribe-events .datepicker .year.active.focused,
.tribe-events .datepicker .year.active:focus,
.tribe-events .datepicker .year.active:hover {
    & {
        background-color: $tribe_primary;
    }
}

/* bar */

.tribe-events .tribe-events-c-search__input-control--keyword-focus .tribe-events-c-search__input,
.tribe-events .tribe-events-c-search__input-control--keyword .tribe-events-c-search__input:focus {
    & {
        background-image: svg-load("../media/vendor/tribe-search.svg", fill=#{$tribe_primary});
    }
}

.tribe-events .tribe-events-c-events-bar__search-button::before {
    & {
        background-color: color("primary");
    }
}

.tribe-events .tribe-events-c-view-selector__button::before {
    & {
        background-color: color("primary");
    }
}

/* ical link */

.tribe-events .tribe-events-c-ical__link {
    & {
        border-color: $tribe_primary;
        color: $tribe_primary;
    }

    &:active,
    &:focus,
    &:hover {
        background-color: $tribe_primary;
    }
}

/* list */

.tribe-events .tribe-events-calendar-list__event-row--featured .tribe-events-calendar-list__event-date-tag-datetime::after {
    & {
        background-color: $tribe_primary;
    }
}

/* month */

.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date,
.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link {
    & {
        color: $tribe_primary;
    }
}

.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link:focus,
.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link:hover {
    & {
        color: transparentize($tribe_primary, 0.2);
    }
}

.tribe-events .tribe-events-calendar-month__calendar-event--featured::before {
    & {
        background-color: $tribe_primary;
    }
}

/* month mobile */

.tribe-events .tribe-events-calendar-month__day-cell--selected,
.tribe-events .tribe-events-calendar-month__day-cell--selected:focus,
.tribe-events .tribe-events-calendar-month__day-cell--selected:hover {
    & {
        background-color: $tribe_primary;
    }
}

.tribe-events .tribe-events-calendar-month__mobile-events-icon--event {
    & {
        background-color: $tribe_primary;
    }
}

.tribe-events .tribe-events-calendar-month__day-cell--selected .tribe-events-calendar-month__day-date {
    & {
        color: #FFFFFF; // this isn't ideal, as it's replicating the default, but it's the simplest solution
    }
}

.tribe-events .tribe-events-calendar-month__mobile-events-icon--featured {
    & {
        background-image: svg-load("../media/vendor/tribe-featured.svg", fill=#{$tribe_primary});
    }
}

.tribe-events .tribe-events-calendar-month-mobile-events__mobile-event-datetime-featured-text {
    & {
        color: $tribe_primary;
    }
}

/* day */

.tribe-events .tribe-events-calendar-day__event--featured::after {
    & {
        background-color: $tribe_primary;
    }
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-day__event-datetime-featured-text {
    & {
        color: $tribe_primary;
    }
}

/* single */

.tribe-events-back {
    & {
        font-family: $tribe_font;
    }
}

.tribe-events-back a {
    & {
        color: $tribe_foreground;
        transition: color 0.2s ease-out;
    }

    &:hover {
        color: $tribe_primary;
    }
}

.single-tribe_events .tribe-events-single-event-title {
    & {
        font-family: $tribe_font;
    }
}

.tribe-events-schedule h2 {
    & {
        font-family: $tribe_font;
    }
}

.single-tribe_events .tribe-events-schedule .tribe-events-cost {
    & {
        font-family: $tribe_font;
    }
}

.tribe-events-meta-group .tribe-events-single-section-title {
    & {
        font-family: $tribe_font;
    }
}

.single-tribe_events .tribe-events-event-meta dl {
    & {
        font-family: $tribe_font;
    }
}

.single-tribe_events .tribe-events-event-meta dl a {
    & {
        color: $tribe_primary;
        transition: color 0.2s ease-out;
    }

    &:active {
        color: darken(saturate(adjust-hue($tribe_primary, -34.0756), 0), 36.6667);
    }

    &:visited {
        color: darken(desaturate(adjust-hue($tribe_primary, 5), 46.875), 47.451);
    }
}

#tribe-events-footer .tribe-events-sub-nav,
#tribe-events-header .tribe-events-sub-nav {
    & {
        color: $tribe_foreground;
        font-family: $tribe_font;
    }
}

#tribe-events-footer .tribe-events-sub-nav a,
#tribe-events-header .tribe-events-sub-nav a {
    & {
        color: $tribe_primary;
    }
}
