// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Tribe Events Calendar (https://theeventscalendar.com/)
\* ------------------------------------------------------------------------ */

.tribe-events-calendar {
    & {
        border-collapse: collapse;
        font-family: $body-font;
        font-size: remify(16, 16);
        margin: remify(0 0 16, 16);
        position: relative;
        table-layout: fixed;
        width: 100%;
        z-index: 10;
    }
}

.tribe-events-calendar-cell {
    & {
        background: color("background");
        border: remify(1) solid color("background", "shade");
        height: remify(100, 16);
        padding: remify(4 6, 16);
        text-align: left;
        vertical-align: top;
    }

    @include smaller-than(s, true) {
        height: remify(50, 16);
    }

    &.--heading {
        font-weight: 700;
    }

    .tribe-events-calendar-header &.--heading {
        background: color("background", "shade");
        height: auto;
        text-align: center;
        text-transform: uppercase;
    }

    &.tribe-events-present {
        background: color("background", "shade");
    }

    &.mobile-active {
        @include smaller-than(s, true) {
            background: mix(color("background"), color("primary"));
        }
    }

    .hentry {
        & {
            position: relative;
        }

        @include smaller-than(s, true) {
            display: none;
        }
    }

    .tribe-events-indicator {
        @include larger-than(s, false) {
            display: none;
        }
    }
}

.tribe-events-calendar-daynum {
    & {
        display: inline-block;
        font-size: remify(12, 16);
        line-height: remify(20, 12);
        margin-bottom: remify(4, 12);
    }

    .tribe-events-calendar-cell.tribe-events-present & {
        background: color("primary");
        border-radius: 50%;
        color: color("light");
        text-align: center;
        width: remify(20, 12);
    }
}

.tribe-events-month-event-title {
    & {
        font-size: remify(12, 16);
        font-weight: 400;
        margin: remify(0 0 4, 12);
        overflow: hidden;
    }

    &.tribe-events-all-day {
        background: color("accent");
        border-radius: remify(2, 12);
        color: color("light");
        margin-bottom: remify(2, 12);
        padding: remify(2 4, 12);
    }

    .tribe-events-calendar-cell.tribe-events-past & {
        opacity: 0.5;
    }
}

.tribe-events-tooltip {
    & {
        background: color("background");
        bottom: 100% !important;
        box-shadow: remify(0 0 20, 16) transparentize(color("dark"), 0.5);
        left: 50%;
        position: absolute;
        transform: translateX(-50%) translateY(#{remify(-10, 16)});
        width: remify(350, 16);
    }

    &::after {
        border-left: remify(10, 16) solid transparent;
        border-right: remify(10, 16) solid transparent;
        border-top: remify(10, 16) solid color("background");
        content: "";
        display: block;
        height: 0;
        left: 50%;
        position: absolute;
        top: 100%;
        transform: translateX(-50%);
        width: 0;
    }

    .tribe-events-event-header {
        background: color("accent");
        padding: remify(20 10 10, 16);
    }

    .tribe-events-event-header .entry-title {
        color: color("light");
        font-size: remify(16, 16);
        margin: 0;
    }

    .tribe-events-event-body {
        padding: remify(15 10, 16);
    }
}

/* stylelint-disable selector-max-id */

#tribe-mobile-container {
    @include larger-than(s, false) {
        display: none;
    }
}

/* stylelint-enable selector-max-id */
