// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Tribe Events Calendar (https://theeventscalendar.com/)
\* ------------------------------------------------------------------------ */

/* stylelint-disable selector-max-id, selector-max-type, selector-no-qualifying-type */

.tribe-events-calendar {
    & {
        font-family: $body-font;
        font-size: remify(16, 16);
        margin: remify(0 0 16, 16);
        table-layout: fixed;
        width: 100%;
    }
}

#tribe-events-content .tribe-events-calendar th,
#tribe-events-content .tribe-events-calendar td {
    & {
        background: color("background");
        border: remify(1) solid color("background", "shade");
        padding: remify(8, 16);
        vertical-align: top;
        width: auto;
    }

    @include smaller-than(s, true) {
        height: remify(50, 16);
    }

    .tribe-events-calendar-header &.tribe-events-calendar-cell--heading {
        background: color("background", "shade");
        height: auto;
        text-align: center;
        text-transform: uppercase;
    }

    &.tribe-events-present {
        background: color("background", "shade");
    }

    &.mobile-active {
        @include smaller-than(xs, true) {
            background: color("primary", "tint");
        }
    }

    @media screen and (max-width: 1023px) {
        .tribe-day-full {
            display: none;
        }
    }

    @media screen and (min-width: 1024px) {
        .tribe-day-short {
            display: none;
        }
    }

    .hentry {
        & {
            position: relative;
            z-index: 2;
        }

        @include smaller-than(xs, true) {
            display: none;
        }
    }

    .tribe-events-indicator {
        @include larger-than(xs, false) {
            display: none;
        }
    }
}

#tribe-events-content .tribe-events-calendar th {
    & {
        font-weight: 700;
    }
}

#tribe-events-content .tribe-events-calendar td {
    & {
        height: remify(100, 16);
        text-align: left;
    }
}

.tribe-events-calendar td div[id*="tribe-events-daynum-"] {
    & {
        align-items: center;
        display: inline-flex;
        font-size: remify(12, 16);
        height: remify(24, 12);
        justify-content: center;
        line-height: remify(20, 12);
        margin-bottom: remify(4, 12);
        padding: 0;
        width: remify(24, 12);
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] {
    & {
        background: color("primary");
        border-radius: 50%;
        color: color("light");
    }
}

.tribe-events-month-event-title {
    & {
        font-size: remify(12, 16);
        font-weight: 400;
        margin: remify(0 0 4, 12);
        overflow: hidden;
    }

    &.tribe-events-all-day {
        background: color("accent");
        border-radius: remify(2, 12);
        color: color("light");
        margin-bottom: remify(2, 12);
        padding: remify(2 4, 12);
    }

    .tribe-events-calendar-cell.tribe-events-past & {
        opacity: 0.5;
    }
}

.tribe-events-viewmore {
    & {
        font-size: remify(12, 16);
    }
}

.tribe-events-tooltip {
    & {
        background: color("background");
        bottom: 100% !important;
        box-shadow: remify(0 0 20, 16) transparentize(color("dark"), 0.5);
        left: 50%;
        position: absolute;
        transform: translateX(-50%) translateY(#{remify(-10, 16)});
        width: remify(350, 16);
    }

    &::after {
        border-left: remify(10, 16) solid transparent;
        border-right: remify(10, 16) solid transparent;
        border-top: remify(10, 16) solid color("background");
        content: "";
        display: block;
        height: 0;
        left: 50%;
        position: absolute;
        top: 100%;
        transform: translateX(-50%);
        width: 0;
    }

    .tribe-events-event-header {
        background: color("accent");
        padding: remify(20 10 10, 16);
    }

    .tribe-events-event-header .entry-title {
        color: color("light");
        font-size: remify(16, 16);
        margin: 0;
    }

    .tribe-events-event-body {
        padding: remify(15 10, 16);
    }

    /* first day of the week -- prevent bleeding off the left side of the screen */

    .tribe-events-calendar-cell:first-child & {
        left: 0;
        transform: translateY(#{remify(-10, 16)});
    }

    .tribe-events-calendar-cell:first-child &::after {
        left: 35px;
        transform: none;
    }

    /* last day of the week -- prevent bleeding off the right side of the screen */

    .tribe-events-calendar-cell:last-child & {
        left: auto;
        right: 0;
        transform: translateY(#{remify(-10, 16)});
    }

    .tribe-events-calendar-cell:last-child &::after {
        left: auto;
        right: 35px;
        transform: none;
    }
}

#tribe-mobile-container {
    @include larger-than(s, false) {
        display: none;
    }
}
