// Styles written by __gulp_init__author_name @ __gulp_init__author_company

/* ------------------------------------------------------------------------ *\
 * Tribe Events Meta List (https://theeventscalendar.com/)
\* ------------------------------------------------------------------------ */

.tribe-events-meta-list {
    & {
        list-style: none;
        margin: remify(0 0 24, 16);
        padding: 0;
    }
}

.tribe-events-meta-list-item {
    & {
        margin-bottom: remify(8, 16);
        padding-left: remify(28, 16);
        position: relative;
    }
}

.tribe-events-meta-list-icon {
    & {
        color: lighten($foreground, 15);
        left: 0;
        position: absolute;
        top: remify(3, 16);
    }
}

.tribe-events-meta-list-small {
    & {
        color: lighten($foreground, 15);
        display: block;
        font-size: remify(12, 16);
    }
}
