// Styles written by Jacob Bearce | jacob@bearce.me

/* ------------------------------------------------------------------------ *\
 * IE Warning                                                               *
\* ------------------------------------------------------------------------ */

.notification-banner-wrapper {
    background: #FF6700;
    padding: 0 20px;

    &.error {
        background: #BF1313;
    }
}

.notification-banner {
    margin: 0 auto;
    padding: 20px 0;
    width: $site-width + px;
}

.notification-banner p {
    color: #FFF;
    display: block;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    text-align: center;
    text-transform: none;
}

.notification-banner a {
    color: #FFF;
    text-decoration: underline;

    &:hover {
        color: #FFF;
    }
}
