// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Menu List                                                                *
\* ------------------------------------------------------------------------ */

/* wrapper */

.menu-wrapper {
    & {
    }
}

/* generic variant */

.menu-list {
    & {
        @extend %clearfix;

        list-style: none;
        margin: 0;
        padding: 0;
    }

    > .menu-item {
        display: flex;
        float: left;
        position: relative;
    }

    > .menu-item > .menu-link {
        color: $primary;
        display: block;
        flex: 1 1 auto;
        padding: remify(8 12, 16);
        text-decoration: none;
        transition: color 0.15s;
    }

    > .menu-item > .menu-link:hover {
        color: $primary_alt;
    }

    > .menu-item > .menu-toggle {
        background: none;
        border: 0;
        color: $primary;
        display: block;
        flex: none;
        font-size: remify(16, 16);
        padding: 0;
        position: relative;
        transition: color 0.15s;
        width: remify(32, 16);
    }

    > .menu-item > .menu-toggle:hover {
        color: $primary_alt;
    }

    > .menu-item > .menu-toggle:before,
    > .menu-item > .menu-toggle:after {
        background: currentColor;
        content: "\0020";
        display: block;
        height: remify(4, 16);
        position: absolute;
        margin-top: remify(-2, 16);
        top: 50%;
        transition: transform 0.15s;
        width: remify(10, 16);
    }

    > .menu-item > .menu-toggle:before {
        left: remify(9, 16);
        transform: rotate(45deg);
    }

    > .menu-item > .menu-toggle:after {
        right: remify(9, 16);
        transform: rotate(-45deg);
    }

    > .menu-item > .menu-toggle.-active:before {
        transform: rotate(-45deg);
    }

    > .menu-item > .menu-toggle.-active:after {
        transform: rotate(45deg);
    }
}

/* submenu variant */

.menu-list.-submenu {
    & {
        background: $primary;
        font-size: remify(14, 16);
        left: -999em;
        min-width: remify(150, 14);
        opacity: 0;
        position: absolute;
        top: -999em;
        transition: left 0s 0.15s, opacity 0.15s, top 0s 0.15s;
    }

    .menu-item:hover > & {
        left: 0;
        opacity: 1;
        transition: left 0s 0.25s, opacity 0.15s 0.25s, top 0s 0.25s;
        top: 100%;
    }

    > .menu-item {
        float: none;
    }

    > .menu-item > .menu-link {
        color: $light;
        padding: remify(4 12, 14);
        transition: background 0.15s;
    }

    > .menu-item > .menu-link:hover {
        background: transparentize($light, 0.9);
    }

    > .menu-item:first-child > .menu-link {
        padding-top: remify(8, 14);
    }

    > .menu-item:last-child > .menu-link {
        padding-bottom: remify(8, 14);
    }

    > .menu-item > .menu-toggle {
        color: $light;
        transition: background 0.15s;
    }

    > .menu-item > .menu-toggle:hover {
        background: transparentize($light, 0.9);
    }
}

/* submenu flyout variant */

.menu-list.-submenu.-flyout {
    & {
        background: $primary_alt;
        left: 100%;
        top: 0;
    }

    .menu-item:hover > & {
        left: 100%;
        top: 0;
    }
}

/* vertical variant */

.menu-list.-vertical {
    & {
        width: 100%;
    }

    .menu-list.-submenu {
        left: auto;
        max-height: 0;
        opacity: 1;
        overflow: hidden;
        position: static;
        top: auto;
        transition: max-height 0.25s;
        width: 100%;
    }

    .menu-list.-submenu.-active {
        max-height: remify(400, 16);
        overflow: auto;
        transition: max-height 0.5s;
    }

    > .menu-item,
    .menu-list.-submenu > .menu-item,
    .menu-list.-submenu.-flyout > .menu-item {
        flex-wrap: wrap;
        float: none;
    }

    > .menu-item > .menu-link {
        width: 0;
    }
}
