// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Slideout (https://slideout.js.org/)
\* ------------------------------------------------------------------------ */

/* stylelint-disable selector-class-pattern */

// Vendor

@use "slideout/index";

// Custom

.slideout-menu {
    & {
        width: 280px;
    }

    &.slideout-move.slideout-menu-left {
        left: -280px;
    }
}

.slideout-dimmer {
    & {
        pointer-events: all;
    }

    .slideout-open & {
        z-index: 100000;
    }
}
