// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Search Form                                                              *
\* ------------------------------------------------------------------------ */

.search-form {
    background: $background_alt;
    border: remify(4, 16) solid $accent;
    border-radius: remify(24, 16);
    display: flex;
    font-size: remify(16, 16);
    margin: remify(0 0 16, 16);
    width: 100%;

    @include placeholder {
        color: $foreground;
        opacity: 1; // for Firefox
    }
}

.search-input {
    background: none;
    border: 0;
    color: $foreground;
    flex: 1 1 auto;
    font-family: $body-font;
    font-size: 1em;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: remify(8 12, 16);
    text-overflow: ellipsis;
    width: 0;
}

.search-submit {
    background: none;
    border: 0;
    color: $accent;
    flex: none;
    font-size: remify(16, 16);
    margin: 0;
    padding: remify(10 12, 16);
    transition: color 0.15s;

    &:hover {
        color: $accent_alt;
    }
}
