// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Banner                                                                   *
\* ------------------------------------------------------------------------ */

.banner-wrapper {
    & {
        background: $warning;
    }

    &.-notice {
        background: lighten(desaturate(adjust-hue($warning, 23.4783), 16.3636), 25.6863);
    }

    > .banner {
        margin: 0 auto;
        max-width: $site-width + px;
        max-width: remify($site-width);
        min-height: remify(80, 16);
        position: relative;
    }

    > .banner > .title {
        align-items: center;
        border-bottom: remify(2) solid transparentize($dark, 0.9);
        color: $light;
        display: flex;
        font-family: $heading-font;
        font-size: remify(24, 16);
        font-weight: 700;
        line-height: remify(24, 24);
        margin: 0;
        padding: remify(24 104 24 86, 24);
        position: relative;
        text-transform: uppercase;
    }

    > .banner > .title > .fa {
        color: $warning_alt;
        font-size: remify(42, 24);
        left: remify(30, 42);
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
    }

    &.-notice > .banner > .title > .fa {
        color: lighten(desaturate(adjust-hue(lighten(desaturate(adjust-hue($warning, 23.4783), 16.3636), 25.6863), 0.0000), 6.7308), 28.0392);
    }

    & > .banner > .excerpt {
        color: $light;
        flex: 1 1 auto;
        font-family: $body-font;
        font-size: remify(15, 16);
        line-height: remify(24, 15);
        margin: 0;
        padding: remify(24 30, 15);
    }

    & > .banner > .excerpt > a {
        color: $warning_alt;
        text-decoration: none;
    }

    &.-notice > .banner > .excerpt > a {
        color: lighten(desaturate(adjust-hue(lighten(desaturate(adjust-hue($warning, 23.4783), 16.3636), 25.6863), 0.0000), 6.7308), 28.0392);
    }

    & > .banner > .content {
        padding: remify(24 30, 15);
    }

    & > .banner > .content.user-content {
        ol,
        p,
        table,
        ul {
            color: $light;
            font-family: $body-font;
            font-size: remify(15, 16);
            line-height: remify(24, 15);
        }

        & > *:last-child {
            margin-bottom: 0;
        }

        a {
            color: $warning_alt;
            text-decoration: none;
        }
    }

    & > .banner > .content.user-content {
        a {
            color: lighten(desaturate(adjust-hue(lighten(desaturate(adjust-hue($warning, 23.4783), 16.3636), 25.6863), 0.0000), 6.7308), 28.0392);
        }
    }

    & > .banner > .button {
        background: none;
        border: 0;
        font-size: remify(24, 16);
        height: remify(96, 24);
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: remify(104, 24);
    }

    & > .banner > .button > .fa {
        color: $warning_alt;
        font-size: remify(42, 24);
        left: 50%;
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
    }

    &.-notice > .banner > .button > .fa {
        color: lighten(desaturate(adjust-hue(lighten(desaturate(adjust-hue($warning, 23.4783), 16.3636), 25.6863), 0.0000), 6.7308), 28.0392);
    }
}
