// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Banner                                                                   *
\* ------------------------------------------------------------------------ */

.banner-block {
    & {
        background: $warning;
    }

    &.--notice {
        background: lighten(desaturate(adjust-hue($warning, 23.4783), 16.3636), 25.6863);
    }
}

.banner__inner {
    & {
        margin: 0 auto;
        max-width: $site-width + px;
        max-width: remify($site-width);
        min-height: remify(80, 16);
        position: relative;
    }
}

.banner__title {
    & {
        align-items: center;
        border-bottom: remify(2) solid transparentize($dark, 0.9);
        color: $light;
        display: flex;
        font-family: $heading-font;
        font-size: remify(24, 16);
        font-weight: 700;
        line-height: remify(24, 24);
        margin: 0;
        padding: remify(24 104 24 86, 24);
        position: relative;
        text-transform: uppercase;
    }

    > .fa {
        color: $light;
        font-size: remify(42, 24);
        left: remify(30, 42);
        opacity: 0.5;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
    }
}

.banner__content {
    & {
        padding: remify(24 30, 16);
    }

    &.user-content {
        ol,
        p,
        table,
        ul {
            color: $light;
            font-family: $body-font;
            font-size: remify(15, 16);
            line-height: remify(24, 15);
        }

        > *:last-child {
            margin-bottom: 0;
        }

        a {
            color: $light;
            opacity: 0.5;
            text-decoration: none;
            transition: opacity 0.15s;
        }

        a:hover {
            opacity: 0.75;
        }
    }
}

.banner__text {
    & {
        color: $light;
        flex: 1 1 auto;
        font-family: $body-font;
        font-size: remify(15, 16);
        line-height: remify(24, 15);
        margin: 0;
        padding: remify(24 30, 15);
    }

    > .banner__link {
        color: $light;
        opacity: 0.5;
        text-decoration: none;
        transition: opacity 0.15s;
    }

    > .banner__link:hover {
        opacity: 0.75;
    }
}

.banner__button {
    & {
        background: none;
        border: 0;
        font-size: remify(24, 16);
        height: remify(96, 24);
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: remify(104, 24);
    }

    &:hover {
        background: none;
    }

    > .fa {
        color: $light;
        font-size: remify(42, 24);
        left: 50%;
        opacity: 0.5;
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        transition: opacity 0.15s;
        top: 50%;
    }

    &:hover > .fa {
        opacity: 0.75;
    }
}
