// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Banner
\* ------------------------------------------------------------------------ */

.banner_container {
    & {
        padding: remify(0 20, 16);
    }
}

.banner_block {
    & {
        display: flex;
        min-height: remify(86, 16);
    }
}

.banner_title {
    & {
        border-bottom: 0;
        border-right: remify(2) solid transparentize($dark, 0.9);
        flex: none;
        padding: remify(24 56, 24);
    }

    .fa {
        left: 0;
    }
}

.banner_text {
    & {
        flex: 1 1 auto;
    }

    &:not(:last-child) {
        padding-right: remify(200, 16);
    }
}

.banner_toggle {
    & {
        height: 100%;
        min-height: remify(86, 24);
        width: remify(86, 24);
    }
}
