// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Header
\* ------------------------------------------------------------------------ */

.header-block {
    & {
        @include layer("header");
    }
}

.header__inner {
    & {
        background: color("background");
        margin: 0 auto;
        max-width: remify($site-width);
        padding: remify(($content-padding * 0.75) $content-padding);
    }
}

.header__logo {
    & {
        max-width: 100%;
        width: remify(200, 16);
    }

    @include smaller-than(xs) {
        margin: 0 auto;
    }
}

.header__search-form__container {
    &.search-form__container--expandable {
        background: color("background");
        left: 0;
        opacity: 0;
        padding: remify(($content-padding * 0.75) $content-padding);
        position: absolute;
        top: -999em;
        transition: opacity 0.15s, top 0s 0.15s, visibility 0s 0.15s;
        visibility: hidden;
        width: 100%;
    }

    &.search-form__container--expandable.is-active {
        opacity: 1;
        top: 0;
        transition: opacity 0.15s;
        visibility: visible;
    }
}

/* fullbleed variant */

.header-block--fullbleed {
    & {
        background: color("background");
        padding: remify(($content-padding * 0.75) $content-padding);
    }

    > .header__inner {
        background: none;
        padding: 0;
    }

    > .header__inner--fullbleed {
        max-width: none;
    }
}
