// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Header
\* ------------------------------------------------------------------------ */

.header-block {
    & {
        @include layer("header");
    }

    &.-fullbleed {
        background: $background;
        padding: remify(25);
    }
}

.header_inner {
    & {
        background: $background;
        margin: 0 auto;
        max-width: remify($site-width);
        padding: remify(25);
    }

    .header-block.-fullbleed > & {
        background: none;
        padding: 0;
    }
}

.header_logo {
    & {
        max-width: remify(200);
    }
}
