// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Navigation
\* ------------------------------------------------------------------------ */

.nav-container {
    & {
        @include layer("navigation");

        font-size: remify(16, 16);
        padding: remify(0 20, 16);
    }
}

.nav-block {
    & {
        @extend %clearfix;

        margin: 0 auto;
        max-width: remify($site-width, 16);
    }
}
