// Styles written by Jacob Bearce | jacob@bearce.me

$font-color: #000;
$theme-color: #343843;
$accent-color: #15BDC3;
$background-color: #EEE;
$heading-font: "Times New Roman", "Times", serif;
$body-font: "Open Sans", "Arial", "Helvetica", sans-serif;
$site-width: 1200;
$mobile-nav-width: 240;
