// Styles written by Jacob Bearce | jacob@bearce.me

input,
label,
.select,
select,
textarea {
    color: $font-color;
    font-family: $sans-serif;
    @include font-size(16);
    @include line-height(24, 16, em);

}

@include placeholder {
	color: lighten($font-color, 15%);
}

button,
input[type=button],
input[type=reset],
input[type=submit],
.button {
	background: $accent-color;
	border: 0;
    color: #FFF;
	display: inline-block;
    font-family: $sans-serif;
    @include font-size(16);
    font-weight: 700;
	@include margin(0, 0, 10, $base: 16, $unit: em);
	@include padding(6, 10, $base: 16, $unit: em);
	transition: background 0.25s;
}

button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover,
.button:hover {
	background: lighten($accent-color, 15%);
    color: #FFF;
}

input[type=checkbox],
input[type=radio] {
	left: -999em;
	position: absolute;

    & + label {
		position: relative;
		padding: 11px 0 11px 52px;
        @include padding(11, 0, 11, 52, 16, em);

        &:before {
            background: center center no-repeat #FFF;
            @include background-size(24, 16, em);
            @include border(1, solid, $font-color, 16, em);
            content: "\0020";
            display: block;
            float: left;
            @include height(42, 16, em);
            left: 0;
            position: absolute;
            top: 0;
            @include width(42, 16, em);

            // webkit focus rings to emulate checkbox/radio
            .-webkit- &:active,
            .-webkit- &:focus {
                outline: -webkit-focus-ring-color auto 5px;
            }

            // trident focus rings to emulate checkbox/radio
            .-ms- &:active,
            .-ms- &:focus {
                outline: #808080 dashed 1px;
            }
        }

        &:hover {
            cusror: pointer;
        }
    }

    &:focus + label {
        &:before {
            outline: -webkit-focus-ring-color auto 5px;
        }
    }

    &[disabled] + label {
        &:before {
            background: darken(#FFF, 15%);
        }
    }
}

	input[type=checkbox]:checked + label:before {
		background-image: url("../img/icon-checkbox.png");

        .no-backgroundsize & {
            background-image: url("../img/icon-checkbox_small.png");
        }
	}

	input[type=radio] + label:before {
        border-radius: 50%;
	}

	input[type=radio]:checked + label:before {
		background-image: url("../img/icon-radio.png");

        .no-backgroundsize & {
            background-image: url("../img/icon-checkbox_small.png");
        }
	}

input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
.select,
textarea {
	background: #FFF;
    @include border(1, solid, $accent-color, 16, em);
	box-sizing: border-box;
	display: block;
	@include margin(0, 0, 10, $base: 16, $unit: em);
	outline: none;
	@include padding(10, 15, $base: 16, $unit: em);
	text-overflow: ellipsis;
	width: 100%;
}

label {
	display: block;
    @include margin(0, 0, 10, $base: 16, $unit: em);
}

label:hover {
	cursor: pointer;
}

.select {
    background: url("../img/icon-select.png") right center no-repeat;
    background-position: right 10px center;
    background-position: right (10em / 16) center;
    @include background-size(24, $base: 16, $unit: em);
	padding: 0;

    .no-backgroundsize & {
        background-image: url("../img/icon-checkbox_small.png");
    }

    select {
		background: none;
		border: 0;
		display: block;
		margin: 0;
		outline: none;
        @include padding(9, 42, 9, 12, 16, em);
		text-indent: 0.01px;
    	text-overflow: "";
		width: 100%;
        // webkit & gecko fix
        -webkit-appearance: none;
        -moz-appearance: none;

        &::-ms-expand {
            display: none;
        }

        &:hover {
            cursor: pointer;
        }

        option {
			background: #FFF;
			color: #000;

            &:hover {
                background: #DDD;
            }
        }
    }
}

textarea {
	max-width: 100%;
	@include min-height(100, 16, em);
	min-width: 100%;
}
