// Styles written by Jacob Bearce | jacob@bearce.me

// imports

@import "normalize";
@import "functions";
@import "mixins";
@import "variables";
@import "text";
@import "forms";
@import "header";
@import "main";
@import "footer";

// general

::selection {
	background: $theme-color;
	color: #FFF;
}

html {
    @include max-screen(639px) {
        height: 100%;
        overflow: hidden;
        width: 100%;
    }
}

body {
}

#pageWrapper {
}

// independent classes

.iframe {
	display: block;
	height: 0;
	position: relative;
	width: 100%;

    iframe {
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
}

// recaptcha

.g-recaptcha {
    @include margin(0, 0, 10);
}

// IE Snap Fix

@-ms-viewport {
    width: device-width;
}
