// Styles written by Jacob Bearce | jacob@bearce.me

// imports

@import "_functions";
@import "_mixins";
@import "_variables";
@import "vendors/normalize";
@import "text";
@import "forms";
@import "header";
@import "nav";
@import "nav-mobile";
@import "main";
@import "footer";

// general

::selection {
	background: $theme-color;
	color: #FFF;
}

html {
    height: 100%;
    width: 100%;

    @include max-screen(639px) {
        &.navopen {
            overflow: hidden;
        }
    }
}

body {
    height: 100%;
    width: 100%;

    @include max-screen($xs-break) {
        .navopen & {
            overflow: hidden;
        }
    }
}

#pageWrapper {
    @include max-screen($xs-break) {
        background: $background-color;
        left: 0;
        min-height: 100%;
        position: relative;
        transition: left 0.15s;
        width: 100%;
        z-index: 2;

        .navopen & {
            @include left(-$mobile-nav-width);
        }
    }
}

// independent classes

.iframe {
	display: block;
	height: 0;
	position: relative;
	width: 100%;

    iframe {
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
}

// recaptcha

.g-recaptcha {
    @include margin(0, 0, 10);
}

// IE Snap Fix

@-ms-viewport {
    width: device-width;
}
