// Styles written by Jacob Bearce | jacob@bearce.me

// headings

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $accent-color;
    font-family: $serif;
}

h1 {
    @include font-size(28);
    @include margin(0, 0, 16, $base: 28, $unit: em);
}

h2 {
    @include font-size(26);
    @include margin(0, 0, 16, $base: 26, $unit: em);
}

h3 {
    @include font-size(24);
    @include margin(0, 0, 16, $base: 24, $unit: em);
}

h4 {
    @include font-size(22);
    @include margin(0, 0, 16, $base: 22, $unit: em);
}

h5 {
    @include font-size(20);
    @include margin(0, 0, 16, $base: 20, $unit: em);
}

h6 {
    @include font-size(18);
    @include margin(0, 0, 8, $base: 18, $unit: em);
}

// text

menu,
ol,
p,
table,
ul {
    color: $font-color;
    font-family: $sans-serif;
    @include font-size(16);
    @include line-height(24, 16, em);
    @include margin(0, 0, 24, $base: 16, $unit: em);
}

menu,
ol,
ul {
    @include padding(0, 0, 0, 24, 16, em);

    menu,
    ol,
    ul {
		margin-bottom: 0;
    }
}

menu {
    li {
    }
}

ol {
    li {
    }
}

p {
}

table {
	display: table;

    @include max-screen(639px) {
		display: block;
		overflow: auto;
        @include padding-bottom(1, 16, em);
		width: 100%;
        // iOS fix
		-webkit-overflow-scrolling: touch;
    }

    th,
    td {
        @include border(1, solid, darken($theme-color, 15%), 16, em);
        @include padding(4, 6, $base: 16, $unit: em);
        vertical-align: top;
    }

    thead td,
    th {
        background: $accent-color;
        color: #FFF;
        font-weight: 700;
    }
}

ul {
    li {
    }
}

// formatting

a {
    color: $accent-color;
    text-decoration: none;
    transition: color 0.25s;

    &:hover {
        color: lighten($accent-color, 15%);
    }
}

// structural

blockquote {
    border-left: 5px solid $accent-color;
    @include margin(0, 0, 24);
    @include padding(0, 0, 0, 24);
}

hr {
    border: 0;
    @include border-bottom(1, solid, $accent-color);
    @include margin(0, 0, 24);
}

pre {
    background: $theme-color;
    @include border(1, solid, darken($theme-color, 15%), 16, em);
    display: block;
    color: #FFF;
    @include font-size(16);
    @include padding(20, 24, $base: 16, $unit: em);
    width: 100%;
}
