// Styles written by Jacob Bearce | jacob@bearce.me

$font-color: #000;
$theme-color: #343843;
$accent-color: #15BDC3;
$sans-serif: "Open Sans", "Arial", "Helvetica", sans-serif;
$serif: "Times New Roman", "Times", serif;
$site-width: 1200px;
