// Styles written by __gulp_init__author_name @ __gulp_init__author_company

/* ------------------------------------------------------------------------ *\
 * Ninja Forms
\* ------------------------------------------------------------------------ */

/* stylelint-disable selector-class-pattern */

// honeypot field fix

.nf-form-hp {
    & {
        left: -999em;
        position: absolute;
        top: -999em;
    }
}

// date field fix

.nf-field-container {
    .pikaday__container {
        display: block;
    }
}

// list field fix

.nf-field-container {
    .list-checkbox,
    .list-radio {
        font-size: remify(16, 16);
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

// label alignment

.nf-field-container {
    // combined

    &.label-above .field-wrap,
    &.label-right .field-wrap,
    &.label-below .field-wrap,
    &.label-left .field-wrap {
        align-items: flex-start;
        display: flex;
    }

    &.label-right .field-wrap .nf-field-label,
    &.label-left .field-wrap .nf-field-label {
        flex: none;
    }

    &.label-above .field-wrap .nf-field-element,
    &.label-below .field-wrap .nf-field-element {
        width: 100%;
    }

    &.label-right .field-wrap .nf-field-element,
    &.label-left .field-wrap .nf-field-element {
        flex: 1 1 auto;
    }

    &.label-right .checkbox-wrap .nf-field-element,
    &.label-left .checkbox-wrap .nf-field-element {
        flex: none;
    }

    // above

    &.label-above .field-wrap {
        flex-direction: column;
    }

    // below

    &.label-below .field-wrap {
        flex-direction: column;
    }

    &.label-below .field-wrap .nf-field-label {
        order: 2;
    }

    &.label-below .field-wrap .nf-field-element {
        order: 1;
    }

    // right

    &.label-right .field-wrap .nf-field-label {
        order: 2;
    }

    &.label-right .field-wrap .nf-field-element {
        order: 1;
    }

    // hidden

    &.label-hidden .field-wrap .nf-field-label {
        left: -999em;
        position: absolute;
        top: -999em;
    }
}

// reCAPTCHA layering fix

.grecaptcha-badge {
    & {
        z-index: 999;
    }
}

/* ------------------------------------------------------------------------ *\
 * Opinionated Tweaks
\* ------------------------------------------------------------------------ */

.nf-form-cont {
    .is-offline & {
        position: relative;
    }

    .is-offline &::before {
        align-items: center;
        background: transparentize(color("background"), 0.25);
        content: "Sorry, it looks like you\'re offline. Please reconnect to the internet to use this form.";
        display: flex;
        font-family: $body-font;
        font-size: remify(20, 16);
        height: 100%;
        justify-content: center;
        left: 0;
        padding: remify($content-padding, 20);
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }
}

// required indicator fix

.ninja-forms-req-symbol {
    & {
        color: color("warning");
    }
}

// list field fix

.nf-field-container {
    .list-checkbox,
    .list-radio {
        font-size: remify(16, 16);
        margin-bottom: remify(4, 16);
    }

    .list-checkbox .input.--checkbox,
    .list-radio .input.--radiobutton {
        margin-bottom: remify(4, 16);
    }

    .list-checkbox .text.--label,
    .list-radio .text.--label {
        margin-bottom: remify(4, 16);
    }
}

// stars field fix

.nf-field-container {
    .stars {
        margin-bottom: remify(24, 16);
    }
}

// description fix

.nf-field-container {
    .nf-user-content {
        margin-top: remify(-20, 16);
    }
}

// error fix

.nf-field-container {
    .nf-error-msg {
        font-size: remify(12, 16);
        margin-bottom: remify(12, 12);
    }
}

// reCAPTCHA fix

.nf-field-container {
    .g-recaptcha:not([data-size="invisible"]) {
        margin-bottom: remify(24, 16);
    }
}

// label alignment

.nf-field-container {
    // above

    &.label-above .nf-field-label > .text.--label {
        margin-bottom: remify(4, 16);
    }

    // below

    &.label-below .nf-field-label > .text.--label {
        margin-top: remify(4, 16);
    }

    &.label-below .nf-field-element .input,
    &.label-below .nf-field-element .stars,
    &.label-below .list-checkbox,
    &.label-below .list-radio {
        margin-bottom: 0;
        order: 1;
    }

    // left

    &.label-left .nf-field-label > .text.--label {
        margin-right: remify(10, 16);
    }

    // right

    &.label-right .nf-field-label > .text.--label {
        margin-left: remify(10, 16);
    }

    // checkbox/radio lists

    &.listcheckbox-container .input.--checkbox,
    &.listradio-container .input.--radiobutton {
        margin-right: remify(6, 16);
    }
}
