// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Link
\* ------------------------------------------------------------------------ */

.link {
    & {
        color: $accent;
        text-decoration: none;
        transition: color 0.15s;
    }

    &:hover {
        color: $accent_alt;
    }
}
