// Styles written by Jacob Bearce | jacob@bearce.me

/* ------------------------------------------------------------------------ *\
 * Generic Text Elements                                                    *
\* ------------------------------------------------------------------------ */

::selection {
	background: $primary;
	color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $accent;
    font-family: $heading-font;
}

h1 {
    font-size: 28px;
    font-size: remify(28);
    margin: 0 0 16px;
    margin: 0 0 remify(16, 28);
}

h2 {
    font-size: 26px;
    font-size: remify(26);
    margin: 0 0 16px;
    margin: 0 0 remify(16, 26);
}

h3 {
    font-size: 24px;
    font-size: remify(24);
    margin: 0 0 16px;
    margin: 0 0 remify(16, 24);
}

h4 {
    font-size: 22px;
    font-size: remify(22);
    margin: 0 0 16px;
    margin: 0 0 remify(16, 22);
}

h5 {
    font-size: 20px;
    font-size: remify(20);
    margin: 0 0 16px;
    margin: 0 0 remify(16, 20);
}

h6 {
    font-size: 18px;
    font-size: remify(18);
    margin: 0 0 8px;
    margin: 0 0 remify(8, 18);
}

menu,
ol,
p,
table,
ul {
    color: $foreground;
    font-family: $body-font;
    font-size: 16px;
    font-size: remify(16);
    line-height: 24px;
    line-height: remify(24, 16);
    margin: 0 0 24px;
    margin: 0 0 remify(24, 16);
}

menu,
ol,
ul {
    padding: 0 0 0 24px;
    padding: 0 0 0 remify(24, 16);

    menu,
    ol,
    ul {
		margin-bottom: 0;
    }
}

table {
	display: table;
}

table th,
table td {
    border: 1px solid darken($primary, 15%);
    border-width: remify(1, 16);
    padding: 4px 6px;
    padding: remify(4 6, 16);
    vertical-align: top;
}

table thead td,
table th {
    background: $accent;
    color: #FFF;
    font-weight: 700;
}

a {
    color: $accent;
    text-decoration: none;
    transition: color 0.15s;

    &:hover {
        color: lighten($accent, 15%);
    }
}

blockquote {
    border-left: 5px solid $accent;
    margin: 0 0 24px;
    margin: 0 0 remify(24);
    padding: 0 0 0 24px;
    padding: 0 0 0 remify(24);
}

hr {
    border: 0;
    border-bottom: 1px solid $accent;
    border-bottom-width: remify(1);
    margin: 0 0 24px;
    margin: 0 0 remify(24);
}

pre {
    background: $primary;
    border: 1px solid darken($primary, 15%);
    border-width: remify(1, 16);
    display: block;
    color: #FFF;
    font-size: 16px;
    font-size: remify(1);
    padding: 20 24px;
    padding: remify(20 24, 16);
    width: 100%;
}
