// Styles written by Jacob Bearce | jacob@bearce.me

/* ------------------------------------------------------------------------ *\
 * Generic Text Elements - Phone                                            *
\* ------------------------------------------------------------------------ */

table {
    display: block;
    overflow: auto;
    padding-bottom: 1px;
    padding-bottom: remify(1, 16);
    width: 100%;
    // iOS fix
    -webkit-overflow-scrolling: touch;
}
