/*removeIf(tribe_css_js_php)*/// Styles written by @@init_author_name @ @@init_author_company

/* ------------------------------------------------------------------------ *\
 * Tribe Events Bar
\* ------------------------------------------------------------------------ */

/* stylelint-disable selector-class-pattern, selector-max-id, selector-no-qualifying-type, selector-max-type */

/* Tribe is stupidly specific with their classes... */

.tribe-events-bar_input {
    & {
        margin-bottom: 0;
    }
}

.tribe-events-bar_views {
    & {
        order: 2;
        padding-bottom: remify(15, 16);
        padding-top: remify(15, 16);
    }

    .tribe-events-bar_text.-label {
        margin-bottom: remify(5, 12);
    }
}

.tribe-events-bar_filters {
    & {
        display: block !important; // override in case the user collapsed then switched to desktop
        flex: 1 1 auto;
        order: 1;
    }

    &::before,
    &::after {
        height: remify(15, 16);
    }
}/*endRemoveIf(tribe_css_js_php)*/
