// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Module
\* ------------------------------------------------------------------------ */

@import "../module/article/_article_xs";
/*removeIf(tribe_css_js_php)*/
@import "../module/tribe-events-bar/_tribe-events-bar_xs";
@import "../module/tribe-events-calendar/_tribe-events-calendar_xs";/*endRemoveIf(tribe_css_js_php)*/
@import "../module/swiper/_swiper_xs";

/* ------------------------------------------------------------------------ *\
 * Layout
\* ------------------------------------------------------------------------ */
