// Styles written by Jacob Bearce | jacob@bearce.me

/* ------------------------------------------------------------------------ *\
 * Grid                                                                     *
\* ------------------------------------------------------------------------ */

// full

.grid-item.full-xxl {
    width: 100%;
}

// ones

.grid-item.one-half-xxl {
    width: (100% / 2);
}

.grid-item.one-third-xxl {
    width: (100% / 3);
}

.grid-item.one-fourth-xxl {
    width: (100% / 4);
}

.grid-item.one-fifth-xxl {
    width: (100% / 5);
}

.grid-item.one-sixth-xxl {
    width: (100% / 6);
}

.grid-item.one-seventh-xxl {
    width: (100% / 7);
}

.grid-item.one-eighth-xxl {
    width: (100% / 8);
}

.grid-item.one-ninth-xxl {
    width: (100% / 9);
}

.grid-item.one-tenth-xxl {
    width: (100% / 10);
}

// twos

.grid-item.two-half-xxl,
.grid-item.two-halfs-xxl,
.grid-item.two-halves-xxl {
    width: (100% / 3) * 2;
}

.grid-item.two-third-xxl,
.grid-item.two-thirds-xxl {
    width: (100% / 3) * 2;
}

.grid-item.two-fourth-xxl,
.grid-item.two-fourths-xxl {
    width: (100% / 4) * 2;
}

.grid-item.two-fifth-xxl,
.grid-item.two-fifths-xxl {
    width: (100% / 5) * 2;
}

.grid-item.two-sixth-xxl,
.grid-item.two-sixths-xxl {
    width: (100% / 6) * 2;
}

.grid-item.two-seventh-xxl,
.grid-item.two-sevenths-xxl {
    width: (100% / 7) * 2;
}

.grid-item.two-eighth-xxl,
.grid-item.two-eighths-xxl {
    width: (100% / 8) * 2;
}

.grid-item.two-ninth-xxl,
.grid-item.two-ninths-xxl {
    width: (100% / 9) * 2;
}

.grid-item.two-tenth-xxl,
.grid-item.two-tenths-xxl {
    width: (100% / 10) * 2;
}

// threes

.grid-item.three-third-xxl,
.grid-item.three-thirds-xxl {
    width: (100% / 3) * 3;
}

.grid-item.three-fourth-xxl,
.grid-item.three-fourths-xxl {
    width: (100% / 4) * 3;
}

.grid-item.three-fifth-xxl,
.grid-item.three-fifths-xxl {
    width: (100% / 5) * 3;
}

.grid-item.three-sixth-xxl,
.grid-item.three-sixths-xxl {
    width: (100% / 6) * 3;
}

.grid-item.three-seventh-xxl,
.grid-item.three-sevenths-xxl {
    width: (100% / 7) * 3;
}

.grid-item.three-eighth-xxl,
.grid-item.three-eighths-xxl {
    width: (100% / 8) * 3;
}

.grid-item.three-ninth-xxl,
.grid-item.three-ninths-xxl {
    width: (100% / 9) * 3;
}

.grid-item.three-tenth-xxl,
.grid-item.three-tenths-xxl {
    width: (100% / 10) * 3;
}

// fours

.grid-item.four-fourth-xxl,
.grid-item.four-fourths-xxl {
    width: (100% / 4) * 4;
}

.grid-item.four-fifth-xxl,
.grid-item.four-fifths-xxl {
    width: (100% / 5) * 4;
}

.grid-item.four-sixth-xxl,
.grid-item.four-sixths-xxl {
    width: (100% / 6) * 4;
}

.grid-item.four-seventh-xxl,
.grid-item.four-sevenths-xxl {
    width: (100% / 7) * 4;
}

.grid-item.four-eighth-xxl,
.grid-item.four-eighths-xxl {
    width: (100% / 8) * 4;
}

.grid-item.four-ninth-xxl,
.grid-item.four-ninths-xxl {
    width: (100% / 9) * 4;
}

.grid-item.four-tenth-xxl,
.grid-item.four-tenths-xxl {
    width: (100% / 10) * 4;
}

// fives

.grid-item.five-fifth-xxl,
.grid-item.five-fifths-xxl {
    width: (100% / 5) * 5;
}

.grid-item.five-sixth-xxl,
.grid-item.five-sixths-xxl {
    width: (100% / 6) * 5;
}

.grid-item.five-seventh-xxl,
.grid-item.five-sevenths-xxl {
    width: (100% / 7) * 5;
}

.grid-item.five-eighth-xxl,
.grid-item.five-eighths-xxl {
    width: (100% / 8) * 5;
}

.grid-item.five-ninth-xxl,
.grid-item.five-ninths-xxl {
    width: (100% / 9) * 5;
}

.grid-item.five-tenth-xxl,
.grid-item.five-tenths-xxl {
    width: (100% / 10) * 5;
}

// sixes

.grid-item.six-sixth-xxl,
.grid-item.six-sixths-xxl {
    width: (100% / 6) * 6;
}

.grid-item.six-seventh-xxl,
.grid-item.six-sevenths-xxl {
    width: (100% / 7) * 6;
}

.grid-item.six-eighth-xxl,
.grid-item.six-eighths-xxl {
    width: (100% / 8) * 6;
}

.grid-item.six-ninth-xxl,
.grid-item.six-ninths-xxl {
    width: (100% / 9) * 6;
}

.grid-item.six-tenth-xxl,
.grid-item.six-tenths-xxl {
    width: (100% / 10) * 6;
}

// sevens

.grid-item.seven-seventh-xxl,
.grid-item.seven-sevenths-xxl {
    width: (100% / 7) * 7;
}

.grid-item.seven-eighth-xxl,
.grid-item.seven-eighths-xxl {
    width: (100% / 8) * 7;
}

.grid-item.seven-ninth-xxl,
.grid-item.seven-ninths-xxl {
    width: (100% / 9) * 7;
}

.grid-item.seven-tenth-xxl,
.grid-item.seven-tenths-xxl {
    width: (100% / 10) * 7;
}

// eights

.grid-item.eight-eighth-xxl,
.grid-item.eight-eighths-xxl {
    width: (100% / 8) * 8;
}

.grid-item.eight-ninth-xxl,
.grid-item.eight-ninths-xxl {
    width: (100% / 9) * 8;
}

.grid-item.eight-tenth-xxl,
.grid-item.eight-tenths-xxl {
    width: (100% / 10) * 8;
}

// nines

.grid-item.nine-ninth-xxl,
.grid-item.nine-ninths-xxl {
    width: (100% / 9) * 9;
}

.grid-item.nine-tenth-xxl,
.grid-item.nine-tenths-xxl {
    width: (100% / 10) * 9;
}

// tens

.grid-item.ten-tenth-xxl,
.grid-item.ten-tenths-xxl {
    width: (100% / 10) * 10;
}
