// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Grid (based loosely on https://v4-alpha.getbootstrap.com/layout/grid/)
\* ------------------------------------------------------------------------ */

/* stylelint-disable selector-class-pattern */

.row {
    & {
        display: flex;
        flex-wrap: wrap;
    }

    & > [class*="col-"] {
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 0;
    }

    & > [class*="col-"].col--nogrow {
        flex-grow: 0;
    }

    & > [class*="col-"].col--noshrink {
        flex-shrink: 0;
    }

    &.row--padded {
        width: calc(100% + #{remify($column-gap, 16)});
    }

    &.row--padded > [class*="col-"] {
        padding-right: remify($column-gap, 16);
    }

    &.row--padded.row--tight {
        width: calc(100% + #{remify($column-gap * 0.75, 16)});
    }

    &.row--padded.row--tight > [class*="col-"] {
        padding-right: remify($column-gap * 0.75, 16);
    }

    &.row--padded.row--loose {
        width: calc(100% + #{remify($column-gap * 1.25, 16)});
    }

    &.row--padded.row--loose > [class*="col-"] {
        padding-right: remify($column-gap * 1.25, 16);
    }

    &.row--nowrap {
        flex-wrap: nowrap;
    }

    &.row--wrapreverse {
        flex-wrap: wrap-reverse;
    }

    &.row--center {
        align-items: center;
        justify-content: center;
    }

    &:not(.row--column).row--hcenter {
        justify-content: center;
    }

    &:not(.row--column).row--vcenter {
        align-items: center;
    }

    &:not(.row--column).row--top {
        align-items: flex-start;
    }

    &:not(.row--column).row--right {
        justify-content: flex-end;
    }

    &:not(.row--column).row--bottom {
        align-items: flex-end;
    }

    &:not(.row--column).row--left {
        justify-content: flex-start;
    }

    &.row--stretch {
        align-items: stretch;
    }

    &.row--around {
        justify-content: space-around;
    }

    &.row--between {
        justify-content: space-between;
    }

    &:not(.row--column).row--reverse {
        flex-direction: row-reverse;
    }

    &.row--column {
        flex-direction: column;
    }

    &.row--column.row--vcenter {
        justify-content: center;
    }

    &.row--column.row--top {
        justify-content: flex-start;
    }

    &.row--column.row--right {
        align-items: flex-end;
    }

    &.row--column.row--bottom {
        justify-content: flex-end;
    }

    &.row--column.row--left {
        align-items: flex-start;
    }

    &.row--column.row--hcenter {
        align-items: center;
    }

    &.row--column.row--reverse {
        flex-direction: column-reverse;
    }
}

.col-auto {
    & {
        flex-basis: auto;
    }
}

@for $i from 0 through 12 {
    .col-#{$i} {
        flex-basis: ($i / 12) * 100%;
    }
}

@include larger-than(xs) {
    .col-xs-auto {
        & {
            flex-basis: auto;
        }
    }

    @for $i from 0 through 12 {
        .col-xs-#{$i} {
            flex-basis: ($i / 12) * 100%;
        }
    }
}

@include larger-than(s) {
    .col-s-auto {
        & {
            flex-basis: auto;
        }
    }

    @for $i from 0 through 12 {
        .col-s-#{$i} {
            flex-basis: ($i / 12) * 100%;
        }
    }
}

@include larger-than(m) {
    .col-m-auto {
        & {
            flex-basis: auto;
        }
    }

    @for $i from 0 through 12 {
        .col-m-#{$i} {
            flex-basis: ($i / 12) * 100%;
        }
    }
}

@include larger-than(l) {
    .col-l-auto {
        & {
            flex-basis: auto;
        }
    }

    @for $i from 0 through 12 {
        .col-l-#{$i} {
            flex-basis: ($i / 12) * 100%;
        }
    }
}

@include larger-than(xl) {
    .col-xl-auto {
        & {
            flex-basis: auto;
        }
    }

    @for $i from 0 through 12 {
        .col-xl-#{$i} {
            flex-basis: ($i / 12) * 100%;
        }
    }
}
