// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Alignment
\* ------------------------------------------------------------------------ */

.alignleft {
    & {
        float: left;
        margin-right: remify(25, 16);
        max-width: (100% / 3);
    }
}

.alignright {
    & {
        float: right;
        margin-left: remify(25, 16);
        max-width: (100% / 3);
    }
}

.aligncenter {
    & {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
