// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Print
\* ------------------------------------------------------------------------ */

/* stylelint-disable selector-class-pattern, selector-no-qualifying-type, selector-max-type */

/* These styles are intended to be global */

// Vendor

$theme: custom;
$font-body: "Open Sans", sans-serif;

@import "gutenberg-web-type/src/style/gutenberg";

// Custom

.btnToggleGrid {
    background-image: url("../media/vendor/gutenberg-grid-icons.png");
}

a[href^="//"]::after {
    content: " (" attr(href) ")";
    font-size: 80%;
}
