// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Normalize
\* ------------------------------------------------------------------------ */

/* stylelint-disable property-no-vendor-prefix, selector-max-type */

/* These styles are intended to be global */

// Vendor

@import "normalize-scss/sass/_normalize";

// Custom

//  Change the box-sizing of all elements

*,
*::before,
*::after {
    box-sizing: border-box;
}

// remove opinionated default styles on buttons, inputs, and selects

button,
input,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

// Set max-height and max-width to 100% on SVGs to fix a bug in Safari (http://stackoverflow.com/a/12631326/654480)

svg {
    max-height: 100%;
    max-width: 100%;
}
