// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * User Content
\* ------------------------------------------------------------------------ */

.user-content {
    /* stylelint-disable selector-no-qualifying-type, selector-max-type */

    // titles

    .title.-h3,
    .title.-h4 {
        font-range: $xs-break $xl-break;
        font-size: responsive remify(18, 16) remify(21.6, 16);
        line-height: remify(26, 18);
        margin: remify(0 0 8, 18);
    }

    .title.-h5,
    .title.-h6 {
        font-range: $xs-break $xl-break;
        font-size: responsive remify(16, 16) remify(19.2, 16);
        line-height: remify(24, 16);
        margin: remify(0 0 8, 16);
    }

    .title.-h2,
    .title.-h4,
    .title.-h6 {
        color: $foreground;
    }

    // images

    img {
        display: block;
        height: auto !important;
        max-width: 100%;
    }

    // alignment

    .alignleft {
        float: left;
        margin-right: remify(25, 16);
        max-width: (100% / 3);
    }

    .alignright {
        float: right;
        margin-left: remify(25, 16);
        max-width: (100% / 3);
    }

    .aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* stylelint-enable */
}

/* light variant */

.user-content.-light {
    /* stylelint-disable selector-no-qualifying-type, selector-max-type */

    .link,
    .title,
    .text {
        color: $light;
    }

    /* stylelint-enable */
}
