// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Content                                                                  *
\* ------------------------------------------------------------------------ */

.user-content {
    /* -------------- *\
     * Tables         *
    \* -------------- */

    table {
    	display: table;
        overflow: visible;
        padding: 0;
    }
}
