// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Input
\* ------------------------------------------------------------------------ */

.input {
    &,
    &.-checkbox + .text.-checkbox:before,
    &.-radiobutton + .text.-radiobutton:before {
        background: $background;
        border-radius: 0;
        border: remify(1) solid darken($background_alt, 10);
        color: $foreground;
        display: block;
        font-family: $body-font;
        font-size: remify(16, 16);
        font-weight: 400;
        line-height: remify(24, 16);
        margin: remify(0 0 24, 16);
        outline: 0;
        padding: remify(8 12, 16);
        transition: border-color 0.15s, color 0.15s;
        width: 100%;
        /* remove weird user agent styles */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    &:focus,
    &:hover,
    &.-checkbox:focus + .text.-checkbox:before,
    &.-checkbox + .text.-checkbox:hover:before,
    &.-radiobutton:focus + .text.-radiobutton:before,
    &.-radiobutton + .text.-radiobutton:hover:before {
        border-color: $accent;
    }
}

// select variant

.input.-select {
    & {
        cursor: pointer;
        // remove Firefox default styles & arrow
        text-indent: 0.01px;
        text-overflow: "";
        // remove IE default styles & arrow
        &::-ms-expand {display: none;}
    }

    &.-arrow {
        /* bgImage: ignore */
        background: url('data:image/svg+xml;utf8,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1408 1088q0 26-19 45l-448 448q-19 19-45 19t-45-19l-448-448q-19-19-19-45t19-45 45-19h896q26 0 45 19t19 45zm0-384q0 26-19 45t-45 19h-896q-26 0-45-19t-19-45 19-45l448-448q19-19 45-19t45 19l448 448q19 19 19 45z"/></svg>');
        background-position: center right remify(12, 16);
        background-repeat: no-repeat;
        background-size: remify(16 16, 16);
        padding-right: remify(40, 16);
    }
}

// checkbox & radiobutton variants

.input.-checkbox,
.input.-radiobutton {
    & {
        left: -999em;
        position: absolute;
    }

    + .text.-label {
        padding-left: remify(32, 16);
        position: relative;
    }

    + .text.-label:before {
        content: "\0020";
        font-size: remify(8, 16);
        height: remify(16, 8);
        left: 0;
        line-height: remify(15, 8);
        margin: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        transform: translateY(-50%);
        top: 50%;
        width: remify(16, 8);
    }

    &.-radiobutton + .text.-label:before {
        border-radius: 50%;
    }

    &.-checkbox:checked + .text.-label:before {
        @include icon("check");
    }

    &.-radiobutton:checked + .text.-label:before {
        @include icon("circle");
    }
}
