// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Input
\* ------------------------------------------------------------------------ */

.input {
    & {
        background: color("background");
        border: remify(1) solid color("dark", "tint");
        border-radius: 0;
        color: color("foreground");
        display: block;
        font-display: swap;
        font-family: $body-font;
        font-size: remify(16, 16);
        font-weight: 400;
        line-height: remify(28, 16);
        margin: remify(0 0 8, 16);
        outline: 0;
        padding: remify(8 12, 16);
        text-overflow: ellipsis;
        transition: border-color 0.15s, color 0.15s;
        width: 100%;
    }

    &:focus,
    &:hover {
        border-color: color("accent");
    }
}

/* select variant */

.input--select {
    & {
        cursor: pointer;
        // remove Firefox default styles & arrow
        text-indent: 0.01px;
        text-overflow: "";
        // remove IE default styles & arrow
        &::-ms-expand { display: none; }
    }
}

.input--arrow {
    & {
        background-image: svg-load("../media/icon-select.svg", fill=#{color("foreground")},);
        background-position: center right remify(12, 16);
        background-repeat: no-repeat;
        background-size: remify(16 16, 16);
        padding-right: remify(48, 16);
    }
}

/* checkbox & radiobutton variants */

.input--checkbox,
.input--radiobutton {
    & {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: remify(16 16, 16);
        cursor: pointer;
        display: inline-block;
        height: remify(28, 16);
        padding: 0;
        vertical-align: middle;
        width: remify(28, 16);
    }

    & + .text--label {
        display: inline-block;
    }
}

.input--checkbox {
    &:checked {
        background-image: svg-load("../media/icon-check.svg", fill=#{color("foreground")},);
    }
}

.input--radiobutton {
    & {
        border-radius: 50%;
    }

    &:checked {
        background-image: svg-load("../media/icon-radio.svg", fill=#{color("foreground")},);
    }
}
