// Styles written by Jacob Bearce | jacob@bearce.me

/* ------------------------------------------------------------------------ *\
 * Colors                                                                   *
\* ------------------------------------------------------------------------ */

$primary: #343843;
$secondary: #525869;
$accent: #15BDC3;
$foreground: #222222;
$background: #EEEEEE;

/* ------------------------------------------------------------------------ *\
 * Fonts                                                                    *
\* ------------------------------------------------------------------------ */

$heading-font: "Times New Roman", "Times", serif;
$body-font: "Open Sans", "Arial", "Helvetica", sans-serif;

/* ------------------------------------------------------------------------ *\
 * Widths                                                                   *
\* ------------------------------------------------------------------------ */

$site-width: 1200;
$mobile-nav-width: 240;

/* ------------------------------------------------------------------------ *\
 * Break Points                                                             *
\* ------------------------------------------------------------------------ */

$xxl-break: (1279rem / 16);
$xl-break: (1023rem / 16);
$l-break: (959rem / 16);
$m-break: (852rem / 16);
$s-break: (767rem / 16);
$xs-break: (639rem / 16);
$xxs-break: (479rem / 16);

/* ------------------------------------------------------------------------ *\
 * Layers                                                                   *
\* ------------------------------------------------------------------------ */

$layers: (
    header: 4,
    navigation: 3,
    content: 2,
    footer: 1,
);

/* ------------------------------------------------------------------------ *\
 * DashIcons Icons (https://developer.wordpress.org/resource/dashicons/)    *
\* ------------------------------------------------------------------------ */

$di-icons: (
    category: "\F318",
    clock: "\F469",
    comment: "\F101",
    tag: "\F323",
);

/* ------------------------------------------------------------------------ *\
 * FontAwesome Icons (http://fortawesome.github.io/Font-Awesome/icons/)     *
\* ------------------------------------------------------------------------ */

$fa-icons: (
    chevron-down: "\F078",
    check: "\F00C",
    circle: "\F111",
    sort: "\F0DC",
);
