// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Button
\* ------------------------------------------------------------------------ */

.button {
    & {
        background: $accent;
        border: 0;
        color: $light;
        display: inline-block;
        font-family: $heading-font;
        font-size: remify(16, 16);
        font-weight: 700;
        padding: remify(12 14, 16);
        transition: background 0.15s;
        text-transform: uppercase;
    }

    &:hover {
        background: $accent_alt;
    }
}
