<html>
	<head>
		<style type="text/css">
			html {
				margin: 0;
				padding: 0;
			}

			body {
				margin: 0;
				padding: 10px;
			}

			table {
				border-collapse: collapse;
				box-sizing: border-box;
				display: block;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 14px;
				width: 100%;
			}

				table td,
				table th {
					border: 1px solid #000;
					padding: 4px 6px;
					text-align: left;
					vertical-align: top;
				}

				table th {
					background: #CCC;
					text-align: right;
				}
		</style>
	</head>
	<body>
		<p>$realname submitted a form on your website!</p>
		<table>
			<tr>
				<th width="135">Name:</th>
				<td>$realname</td>
			</tr>
			<tr>
				<th>Company:</th>
				<td>$company</td>
			</tr>
			<tr>
				<th>Email:</th>
				<td>$email</td>
			</tr>
			<tr>
				<th>Phone:</th>
				<td>$phone</td>
			</tr>
			<tr>
				<th>Type of Inquiry:</th>
				<td>$typeofinquiry</td>
			</tr>
			<tr>
				<th>Respond via Email:</th>
				<td>$contactviaemail</td>
			</tr>
			<tr>
				<th>Newsletter:</th>
				<td>$newsletter</td>
			</tr>
			<tr>
				<th>Message:</th>
				<td>$message</td>
			</tr>
		</table>
	</body>
</html>