// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Search Form
\* ------------------------------------------------------------------------ */

.search-form__container {
    & {
        margin: remify(0 0 20, 16);
    }
}

.search-form {
    & {
        position: relative;
    }
}

.search-form__input {
    & {
        margin: 0;
        padding-right: remify(44, 16);
    }
}

.search-form__button {
    & {
        background: none;
        color: color("foreground");
        margin: 0;
        padding: remify(11.2 10, 18);
        position: absolute;
        right: remify(1);
        top: remify(1);
        transition: color 0.15s;
    }

    &:focus,
    &:hover {
        background: none;
        color: color("accent");
    }
}
