// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Search Form
\* ------------------------------------------------------------------------ */

.search-form__container {
    & {
        margin: remify(0 0 15, 16);
    }
}

.search-form {
    & {
        position: relative;
    }
}

.search-form__input {
    & {
        font-size: remify(16, 16);
        margin: 0;
        padding-right: remify(48, 16);
    }
}

.search-form__button {
    & {
        background: none;
        bottom: remify(2);
        color: color("foreground");
        font-size: remify(16, 16);
        margin: 0;
        padding: remify(0 16, 16);
        position: absolute;
        right: remify(2);
        top: remify(2);
        transition: color 0.15s;
    }

    &:focus,
    &:hover {
        background: none;
        color: color("accent");
    }
}
