// Styles written by Jacob Bearce | jacob@bearce.me

/* ------------------------------------------------------------------------ *\
 * Search Form                                                              *
\* ------------------------------------------------------------------------ */

.search-form {
    background: $background;
    border: 1px solid $accent;
	margin: remify(0 0 16, 16);
	padding: remify(0 40 0 0, 16);
    position: relative;
}

.search-label {
    left: -999em;
    position: absolute;
    top: -999em;
}

.search-input {
    background: none;
    border: 0;
    color: $foreground;
    font-family: $body-font;
    font-size: remify(16, 16);
    font-weight: 400;
    margin: 0;
    padding: remify(10 16, 16);
    width: 100%;
}

.search-submit {
    background: none;
    border: 0;
    bottom: 0;
    color: $accent;
    line-height: remify(40, 16);
    margin: 0;
    position: absolute;
    right: 0;
    text-indent: -999em;
    top: 0;
    transition: color 0.15s;
    width: remify(40, 16);
    
    &:hover {
        color: $accent_alt;
    }
    
    &:before {
        @include icon("search");
        
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        text-indent: 0;
        top: 0;
    }
}
