// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Logo                                                                     *
\* ------------------------------------------------------------------------ */

.logo {
    & {
        display: block;
    }
}

.logo__image {
    display: block;
    width: 100%;
}
