// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Logo                                                                     *
\* ------------------------------------------------------------------------ */

.logo {
    & {
        display: block;
    }

    > .image {
        display: block;
        width: 100%;
    }
}
