// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Input                                                                    *
\* ------------------------------------------------------------------------ */

.input {
    & {
        border: remify(2, 16) solid $accent;
        color: $foreground;
        font-family: $body-font;
        font-size: remify(16, 16);
        font-weight: 400;
        line-height: remify(18, 16);
        padding: remify(8 12, 16);
        margin: remify(0 0 12, 16);
    }
}
