// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Helpers
\* ------------------------------------------------------------------------ */

// imports

@import "_variables";
@import "_functions";
@import "_mixins";

// generic helpers

%clearfix {
    &:after {
        content: "" !important;
        clear: both !important;
        display: table !important;
    }
}

._bold {
    font-weight: 700 !important;
}

._italic {
    font-style: italic !important;
}

._center {
    margin-left: auto !important;
    margin-right: auto !important;
}

._left {
    float: left !important;
}

._right {
    float: right !important;
}

._textcenter {
    text-align: center !important;
}

._textleft {
    text-align: left !important;
}

._textright {
    text-align: right !important;
}

._nomargin {
    margin: 0 !important;
}

._nopadding {
    padding: 0 !important;
}

._visuallyhidden {
    left: -999em !important; // fallback if vw isn't supported
    left: -100vw !important;
    position: absolute !important;
    top: -999em !important; // fallback if vh isn't supported
    top: -100vh !important;
}

._warning {
    color: $warning !important;
}

/* visibility classes */

// when screen is < 768
@media screen and (max-width: ($xs-break - 1 / 16)) {
    ._tablet:not(._phone) {
        display: none !important;
    }
}

// when screen is < 1024
@media screen and (max-width: ($l-break - 1 / 16)) {
    ._notebook:not(._tablet):not(._phone) {
        display: none !important;
    }
}

// when screen is < 1280
@media screen and (max-width: ($l-break - 1 / 16)) {
    ._desktop:not(._notebook):not(._tablet):not(._phone) {
        display: none !important;
    }
}

// when screen is >= 768
@media screen and (min-width: $xs-break) {
    ._phone:not(._tablet):not(._notebook):not(._desktop) {
        display: none !important;
    }
}

// when screen is >= 768 and < 1024
@media screen and (min-width: $xs-break) and (max-width: ($l-break - 1 / 16)) {
    ._phone:not(._tablet),
    ._notebook:not(._tablet),
    ._desktop:not(._tablet) {
        display: none !important;
    }
}

// when screen is >= 1024
@media screen and (min-width: $l-break) {
    ._phone:not(._notebook):not(.-desktop),
    ._tablet:not(._notebook):not(.-desktop) {
        display: none !important;
    }
}

// when screen is >= 1024 and < 1280
@media screen and (min-width: $xs-break) and (max-width: ($l-break - 1 / 16)) {
    ._phone:not(._notebook),
    ._tablet:not(._notebook),
    ._desktop:not(._notebook) {
        display: none !important;
    }
}

// when screen is >= 1280
@media screen and (min-width: $xl-break) {
    ._phone:not(.-desktop),
    ._tablet:not(.-desktop),
    ._notebook:not(.-desktop) {
        display: none !important;
    }
}
