// Styles written by __gulp_init__author_name @ __gulp_init__author_company

/* ------------------------------------------------------------------------ *\
 * Colors
\* ------------------------------------------------------------------------ */

$primary: #17AAEC;
$primary_alt: #57CAFF;

$secondary: #BA3626;
$secondary_alt: #FF9486;

$tertiary: #84B2AA;
$tertiary_alt: #CDFBF3;

$quaternary: #ECBF4F;
$quaternary_alt: #A17300;

$quinary: #966790;
$quinary_alt: #7D5678;

$senary: #D2732A;
$senary_alt: #B86425;

$accent: #17AAEC;
$accent_alt: #57CAFF;

$light: #FFFFFF;
$light_alt: #DDDDDD;

$dark: #000000;
$dark_alt: #222222;

$foreground: #222222;
$foreground_alt: #000000;

$background: #FFFFFF;
$background_alt: #DDDDDD;

$page_background: #DDDDDD;
$page_background_alt: #FFFFFF;

$warning: #9F0000;
$warning_alt: #F83636;

/* ------------------------------------------------------------------------ *\
 * Fonts                                                                    *
\* ------------------------------------------------------------------------ */

$heading-font: "Open Sans", "Helvetica", "Arial", sans-serif;
$body-font: "Open Sans", "Helvetica", "Arial", sans-serif;

/* ------------------------------------------------------------------------ *\
 * Widths                                                                   *
\* ------------------------------------------------------------------------ */

$site-width: 1500;
$column-gap: 30;
$content-padding: 25;

/* ------------------------------------------------------------------------ *\
 * Break Points                                                             *
\* ------------------------------------------------------------------------ */

$xxxl-break: 1440em / 16;
$xxl-break: 1366em / 16;
$xl-break: 1280em / 16;
$l-break: 1024em / 16;
$m-break: 960em / 16;
$s-break: 853em / 16;
$xs-break: 768em / 16;
$xxs-break: 640em / 16;
$xxxs-break: 480em / 16;

/* ------------------------------------------------------------------------ *\
 * Layers                                                                   *
\* ------------------------------------------------------------------------ */

$layers: (
    header: 5,
    navigation: 4,
    hero: 3,
    content: 2,
    footer: 1,
);
