// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Colors
\* ------------------------------------------------------------------------ */

$colors: (
    "primary": (
        tint:  #83B9FF,
        base:  #448AFF,
        shade: #005ECB,
    ),
    "secondary": (
        tint:  #FF616F,
        base:  #FF1744,
        shade: #C4001D,
    ),
    "tertiary": (
        tint:  #9EFFFF,
        base:  #64FFDA,
        shade: #14CBA8,
    ),
    "quaternary": (
        tint:  #FFFF5A,
        base:  #FFFF00,
        shade: #C7CC00,
    ),
    "quinary": (
        tint:  #B47CFF,
        base:  #7C4DFF,
        shade: #3F1DCB,
    ),
    "senary": (
        tint:  #FFC246,
        base:  #FF9100,
        shade: #C56200,
    ),
    "accent": (
        tint:  #83B9FF,
        base:  #448AFF,
        shade: #005ECB,
    ),
    "error": (
        tint:  #FF5F52,
        base:  #C62828,
        shade: #8E0000,
    ),
    "success": (
        tint:  #52FFA2,
        base:  #28C665,
        shade: #008E37,
    ),
    "foreground": (
        tint:  #484848,
        base:  #212121,
        shade: #000000,
    ),
    "background": (
        tint:  #FFFFFF,
        base:  #FFFFFF,
        shade: #CCCCCC,
    ),
    "page-background": (
        tint:  #EEEEEE,
        base:  #E0E0E0,
        shade: #AEAEAE,
    ),
    "light": (
        tint:  #FFFFFF,
        base:  #FFFFFF,
        shade: #CCCCCC,
    ),
    "dark": (
        tint:  #2C2C2C,
        base:  #000000,
        shade: #000000,
    ),
);

/* ------------------------------------------------------------------------ *\
 * Fonts                                                                    *
\* ------------------------------------------------------------------------ */

$heading-font: "Open Sans", "Helvetica", "Arial", sans-serif;
$body-font: "Open Sans", "Helvetica", "Arial", sans-serif;

/* ------------------------------------------------------------------------ *\
 * Widths                                                                   *
\* ------------------------------------------------------------------------ */

$site-width: 1500;
$column-gap: 30;
$content-padding: 25;

/* ------------------------------------------------------------------------ *\
 * Break Points                                                             *
\* ------------------------------------------------------------------------ */

$breakpoints: (
    xxxl: 1440em / 16,
    xxl:  1366em / 16,
    xl:   1280em / 16,
    l:    1024em / 16,
    m:    960em / 16,
    s:    853em / 16,
    xs:   768em / 16,
    xxs:  640em / 16,
    xxxs: 480em / 16,
);

$xxxl-break: 1440em / 16;
$xxl-break: 1366em / 16;
$xl-break: 1280em / 16;
$l-break: 1024em / 16;
$m-break: 960em / 16;
$s-break: 853em / 16;
$xs-break: 768em / 16;
$xxs-break: 640em / 16;
$xxxs-break: 480em / 16;

/* ------------------------------------------------------------------------ *\
 * Layers                                                                   *
\* ------------------------------------------------------------------------ */

$layers: (
    header: 5,
    navigation: 4,
    hero: 3,
    content: 2,
    footer: 1,
);
