// Styles written by __gulp_init__author_name @ __gulp_init__author_company

/* ------------------------------------------------------------------------ *\
 * Colors
\* ------------------------------------------------------------------------ */

$colors: (
    "primary": (
        tint:  #46BBF0,
        base:  #17AAEC,
        shade: #108AC0,
    ),
    "secondary": (
        tint:  #BA3626,
        base:  #902A1D,
        shade: #661E14,
    ),
    "tertiary": (
        tint:  #A3C6C0,
        base:  #84B2AA,
        shade: #659E94,
    ),
    "quaternary": (
        tint:  #F1D07D,
        base:  #ECBF4F,
        shade: #E7AE21,
    ),
    "quinary": (
        tint:  #AB85A6,
        base:  #966790,
        shade: #785273,
    ),
    "senary": (
        tint:  #DD8E53,
        base:  #D2732A,
        shade: #A85C22,
    ),
    "accent": (
        tint:  #46BBF0,
        base:  #17AAEC,
        shade: #108AC0,
    ),
    "warning": (
        tint:  #D20000,
        base:  #9F0000,
        shade: #6C0000,
    ),
    "foreground": (
        tint:  #343434,
        base:  #1A1A1A,
        shade: #000000,
    ),
    "background": (
        tint:  #FFFFFF,
        base:  #FFFFFF,
        shade: #E6E6E6,
    ),
    "page-background": (
        tint:  #F7F7F7,
        base:  #DDDDDD,
        shade: #C4C4C4,
    ),
    "light": (
        tint:  #FFFFFF,
        base:  #FFFFFF,
        shade: #E6E6E6,
    ),
    "dark": (
        tint:  #1A1A1A,
        base:  #000000,
        shade: #000000,
    ),
);

/* ------------------------------------------------------------------------ *\
 * Fonts                                                                    *
\* ------------------------------------------------------------------------ */

$heading-font: "Open Sans", "Helvetica", "Arial", sans-serif;
$body-font: "Open Sans", "Helvetica", "Arial", sans-serif;

/* ------------------------------------------------------------------------ *\
 * Widths                                                                   *
\* ------------------------------------------------------------------------ */

$site-width: 1500;
$column-gap: 30;
$content-padding: 25;

/* ------------------------------------------------------------------------ *\
 * Break Points                                                             *
\* ------------------------------------------------------------------------ */

$breakpoints: (
    xxxl: 1440em / 16,
    xxl:  1366em / 16,
    xl:   1280em / 16,
    l:    1024em / 16,
    m:    960em / 16,
    s:    853em / 16,
    xs:   768em / 16,
    xxs:  640em / 16,
    xxxs: 480em / 16,
);

$xxxl-break: 1440em / 16;
$xxl-break: 1366em / 16;
$xl-break: 1280em / 16;
$l-break: 1024em / 16;
$m-break: 960em / 16;
$s-break: 853em / 16;
$xs-break: 768em / 16;
$xxs-break: 640em / 16;
$xxxs-break: 480em / 16;

/* ------------------------------------------------------------------------ *\
 * Layers                                                                   *
\* ------------------------------------------------------------------------ */

$layers: (
    header: 5,
    navigation: 4,
    hero: 3,
    content: 2,
    footer: 1,
);
