// Styles written by Jacob Bearce @ Weblinx, Inc.

/* ------------------------------------------------------------------------ *\
 * Basic Global Content                                                     *
\* ------------------------------------------------------------------------ */

.title {
    font-family: $heading-font;
}

.text {
    font-family: $body-font;
}

.link {
    color: $accent;
    text-decoration: none;
    transition: color 0.15s;

    &:hover {
        color: $accent_alt;
    }
}
