// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Navigation
\* ------------------------------------------------------------------------ */

.navigation-block {
    &.-fullbleed {
        background: $background;
    }

    &.-flyout {
        background: $background;
        bottom: 999em;
        display: block;
        left: -999em;
        overflow: auto;
        padding: 0;
        position: absolute;
        right: 999em;
        top: -999em;;
        transform: translateX(-100%);
        transition: bottom 0s 0.15s, left 0s 0.15s, right 0s 0.15s, top 0s 0.15s, transform 0.15s, visibility 0s 0.15s;
        visibility: hidden;
        z-index: 999;
    }

    &.-flyout.-right {
        left: 999em;
        right: -999em;
        transform: translateX(100%);
    }

    &.-flyout.is-active {
        bottom: 0;
        left: 0;
        right: remify(80);
        transition: transform 0.15s;
        transform: translateX(0);
        top: 0;
        visibility: visible;
    }

    &.-flyout.-right.is-active {
        left: remify(80);
        right: 0;
    }

    &.-sticky {
        position: sticky;
        top: 0;
        width: 100% !important; // polyfill miscalculates, should always be 100%
    }

    /*
     * Below is some special stuff to make sure a sticky nav doesn't get covered
     * by the WordPress Admin Bar. Unfortunately, this doesn't work, becuase
     * apparently the poly fill doesn't see later height declerations for the
     * element. Or, perhaps it does, but doesn't see it when it's a slightly
     * different class (i.e. `.admin-bar &.-sticky` instead of just `&.-sticky`)
     */

    @media screen and (min-width: 601px) {
        .admin-bar &.-sticky {
            top: 46px;
        }
    }

    @media screen and (min-width: 783px) {
        .admin-bar &.-sticky {
            top: 32px;
        }
    }
}

.navigation_inner {
    & {
        background: $background;
        margin: 0 auto;
        max-width: remify($site-width);
        padding: remify(0 10);
    }

    .navigation-block.-flyout > & {
        background: none;
        max-width: none;
        padding: 0;
    }

    .navigation-block.-fullbleed > & {
        background: none;
    }
}
