// Styles written by __gulp_init__author_name @ __gulp_init__author_company

/* ------------------------------------------------------------------------ *\
 * Navigation
\* ------------------------------------------------------------------------ */

.navigation-block {
    & {
        @include layer("navigation");
    }
}

.navigation__inner {
    & {
        background: color("accent");
        margin: 0 auto;
        max-width: remify($site-width);
        max-width: calc(#{remify($site-width)} + #{remify(16 * 2, 20)});
    }
}

/* fullbleed variant */

.navigation-block.--fullbleed {
    & {
        background: color("accent");
    }

    > .navigation__inner {
        background: none;
    }

    > .navigation__inner.--fullbleed {
        max-width: none;
    }
}

/* flyout variant */

.navigation-block.--flyout {
    & {
        background: color("accent");
        overscroll-behavior: contain;
        position: fixed;
        z-index: 0;
    }

    .admin-bar & {
        & {
            padding-top: remify(46);
        }

        @media screen and (min-width: 783px) {
            padding-top: remify(32);
        }
    }

    &:not(.slideout-menu) {
        display: none;
    }

    > .navigation__inner {
        padding: 0;
    }
}
