// Styles written by Jacob Bearce | jacob@bearce.me

/* ------------------------------------------------------------------------ *\
 * Generic Form Elements                                                    *
\* ------------------------------------------------------------------------ */

input,
label,
.select,
select,
textarea {
    color: $foreground;
    font-family: $body-font;
    font-size: 16px;
    font-size: remify(16);
    line-height: remify(24, 16);
}

label {
	display: block;
    margin: remify(0 0 10, 16);

    &:hover {
        cursor: pointer;
    }
}

@include placeholder {
	color: $foreground_alt;
    opacity: 1;
}

button,
input[type=button],
input[type=reset],
input[type=submit],
.button {
	background: $accent;
	border: 0;
    color: $background;
	display: inline-block;
    font-family: $body-font;
    font-size: 16px;
    font-size: remify(16);
    font-weight: 700;
    margin: remify(0 0 10, 16);
    padding: remify(6 10, 16);
    text-transform: uppercase;
	transition: background 0.15s, color 0.15s;

    &:hover {
        background: $accent_alt;
        color: $background;
    }
}

input[type=checkbox],
input[type=radio] {
	left: -999em;
	position: absolute;

    & + label {
        position: relative;
        padding: remify(9 0 11 52, 16);

        &:before {
            background: $background;
            border: 1px solid $accent;
            border-width: remify(1);
            color: $accent;
            content: "\0020";
            display: block;
            float: left;
            font-size: remify(25, 16);
            height: remify(44, 25);
            left: 0;
            line-height: remify(41, 25);
            position: absolute;
            text-align: center;
            top: 0;
            width: remify(44, 25);

            // webkit focus rings to emulate checkbox/radio
            .-webkit- &:active,
            .-webkit- &:focus {
                outline: -webkit-focus-ring-color auto 5px;
            }

            // trident focus rings to emulate checkbox/radio
            .-ms- &:active,
            .-ms- &:focus {
                outline: #808080 dashed 1px;
            }
        }

        &:hover {
            cusror: pointer;
        }
    }
}

input[type=checkbox]:focus + label:before,
input[type=radio]:focus + label:before {
    outline: -webkit-focus-ring-color auto 5px;
}

input[type=checkbox][disabled] + label:before,
input[type=radio][disabled] + label:before {
    background: $background_alt;
}

input[type=checkbox]:checked + label:before {
    @include icon("fontawesome", "check");
}

input[type=radio] + label:before {
    border-radius: 50%;
}

input[type=radio]:checked + label:before {
    @include icon("fontawesome", "circle");
}

input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
.select,
textarea {
	background: $background;
    border: 1px solid $accent;
	box-sizing: border-box;
	display: block;
    margin: remify(0 0 10, 16);
	outline: none;
    padding: remify(8 15 10, 16);
	text-overflow: ellipsis;
	width: 100%;
}

.select {
	padding: 0;
    position: relative;
}

.select:before {
    @include icon("fontawesome", "sort");

    color: $background;
    display: block;
    font-size: remify(24, 16);
    line-height: normal;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: remify(42, 24);
    z-index: 2;
}

.select:after {
    background: $accent;
    bottom: 0;
    content: "\0020";
    display: block;
    font-size: remify(24, 16);
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: remify(42, 24);
    z-index: 1;
}

.select select {
    background: none;
    border: 0;
    display: block;
    margin: 0;
    outline: none;
    padding: remify(9 54 11 12, 16);
    width: 100%;
    // gecko fix
    text-indent: 0.01px;
    text-overflow: "";
    -moz-appearance: none;
    // webkit fix
    -webkit-appearance: none;
    // trident fix
    &::-ms-expand {
        display: none;
    }

    &:hover {
        cursor: pointer;
    }
}

textarea {
	max-width: 100%;
    min-height: remify(100, 16);
	min-width: 100%;
}

// fix for inconsistancies accross browsers

.select option {
    background: #FFF;
    color: #000;

    &:hover {
        background: #DDD;
    }
}

.g-recaptcha {
    margin: remify(0 0 10, 16);
}
