// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Divider
\* ------------------------------------------------------------------------ */

.divider {
    & {
        background: color("primary");
        border: 0;
        clear: both;
        height: remify(2);
        margin: remify(15 0, 16);
        width: 100%;
    }
}
