// Styles written by Jacob Bearce | jacob@bearce.me

/* ------------------------------------------------------------------------ *\
 * Page                                                                     *
\* ------------------------------------------------------------------------ */

html {
    width: 100%;
}

body {
    background: $background;
    width: 100%;
}

#pageWrapper {
    font-size: 16px;
    font-size: remify(16);
}

// IE snap fix

@-ms-viewport {
    width: device-width;
}
