// Styles written by Jacob Bearce | jacob@bearce.me

/* ------------------------------------------------------------------------ *\
 * Page                                                                     *
\* ------------------------------------------------------------------------ */

html,
body {
    height: 100%;
    overflow-x: hidden;
    width: 100%;
    // iOS fix
    -webkit-overflow-scrolling: touch;
}

.navopen body {
    overflow: hidden;
}

#pageWrapper {
    background: $background;
    left: 0;
    min-height: 100%;
    position: relative;
    transition: box-shdow 0.15s, left 0.15s;
    width: 100%;
    z-index: 2;
    // fixes flickering in snap.js
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    .navopen & {
        box-shadow: remify(0 0 10, 16) black(0.5);
        left: -$mobile-nav-width + px;
        width: remify(-$mobile-nav-width);
    }
}
