// Styles written by Jacob Bearce | jacob@bearce.me

#mobileNavWrapper {
    background: $primary;
    @include bottom(0);
    display: none;
    overflow: auto;
    position: absolute;
    @include right(0);
    @include top(0);
    @include width($mobile-nav-width);
    z-index: 1;

    @include max-screen($xs-break) {
        display: block;
    }

    nav {
        ul {
            @include font-size(16);
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                position: relative;

                &.menu-item-has-children > a {
                    @include margin(0 44 0 0, 16);
                }
            }
        }

        ul.sub-menu {
            background: lighten($primary, 15%);
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s;

            ul.sub-menu {
                background: lighten($primary, 30%);
            }
        }

        button {
            background: none;
            font-size: 1em;
            @include height(44, 16);
            margin: 0;
            padding: 0;
            position: absolute;
            right: 0;
            text-indent: -999em;
            top: 0;
            @include width(44, 16);

            &:before,
            &:after {
                background: $accent;
                @include border-radius(2, 16);
                content: "\0020";
                display: block;
                font-size: 1em;
                @include height(4, 16);
                position: absolute;
                transition: transform 0.15s;
                @include top(20, 16);
                @include width(10, 16);
            }

            &:before {
                @include left(15, 16);
                transform: rotate(45deg);
            }

            &:after {
                @include right(15, 16);
                transform: rotate(-45deg);
            }
        }

        .open {
            & > button:before {
                transform: rotate(-45deg);
            }

            & > button:after {
                transform: rotate(45deg);
            }

            & > ul.sub-menu {
                @include max-height(1000);
                transition: max-height 0.6s;
            }
        }

        a {
            color: lighten($primary, 75%);
            display: block;
            @include padding(10 20, 16);
        }
    }
}
