// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Logo                                                                     *
\* ------------------------------------------------------------------------ */

.logo {
    display: block;

    > img {
        display: block;
        width: 100%;
    }
}
