// Styles written by Jacob Bearce | jacob@bearce.me

/* ------------------------------------------------------------------------ *\
 * Mobile Navigation                                                        *
\* ------------------------------------------------------------------------ */

// wrapper

.mobile-nav-wrapper {
    bottom: 0;
    font-size: 16px;
    font-size: remify(16);
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: remify($mobile-nav-width, 16);
    z-index: 1;
}
