// Styles written by Jacob Bearce | jacob@bearce.me

/* ------------------------------------------------------------------------ *\
 * Footer                                                                   *
\* ------------------------------------------------------------------------ */

#footerWrapper footer {
    max-width: $site-width + px;
    max-width: remify($site-width);
    width: auto;
}
