// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Footer
\* ------------------------------------------------------------------------ */

.footer-block {
    & {
        @include layer("footer");
    }
}

.footer_inner {
    & {
        background: $background;
        margin: 0 auto;
        max-width: remify($site-width);
        padding: remify(25);
    }
}

// fullbleed variant

.footer-block.-fullbleed {
    & {
        background: $background;
        padding: remify(25);
    }

    > .footer_inner {
        background: none;
        padding: 0;
    }
}
