// Styles written by __gulp_init__author_name @ __gulp_init__author_company

/* ------------------------------------------------------------------------ *\
 * Footer
\* ------------------------------------------------------------------------ */

.footer-block {
    & {
        @include layer("footer");
    }
}

.footer_inner {
    & {
        background: color("page_background");
        margin: 0 auto;
        max-width: remify($site-width);
        padding: remify(($content-padding * 0.75) $content-padding);
    }
}

/* fullbleed variant */

.footer-block.-fullbleed {
    & {
        background: color("page_background");
        padding: remify(($content-padding * 0.75) $content-padding);
    }

    > .footer_inner {
        background: none;
        padding: 0;
    }

    > .footer_inner.-fullbleed {
        max-width: none;
    }
}
