@@if (context.wordpress) {
    <? get_header(); ?>
}
@@if (context.static) {
    @@include("header.htm", {"title": "Blog"})
}
            <div class="content-wrapper">
                <main class="content">
                    <div class="post">
                        @@if (context.wordpress) {
                            <?
                            if (get_option("show_on_front") == "page") {
                                $home_title = get_the_title(get_option("page_for_posts"));
                            } else {
                                $home_title = "Blog";
                            }
                            echo "<header><h1>{$home_title}</h1></header>";
                            ?>
                            <?
                            if (have_posts()) {
                                while (have_posts()) {
                                    the_post();
                                    echo "<article>";
                                    if (has_post_thumbnail($post->ID)) {
                                        echo "<figure><a href='" . get_permalink() . "'>" . get_the_post_thumbnail($post->ID, "medium") . "</a></figure>";
                                    }
                                    echo "<div>";
                                    echo "<header>";
                                    echo "<h2><a href='" . get_permalink() . "'>" . get_the_title() . "</a></h2>";
                                    if (get_post_type() == "post") {
                                        echo "<ul class='meta-list'>";
                                        echo "<li class='time'><a href='" . get_the_permalink() . "'>" . get_the_date() . "</a></li>";
                                        if (get_the_category_list()) {
                                            echo "<li class='categories'>" . get_the_category_list(", ") . "</li>";
                                        }
                                        the_tags("<li class='tags'>", ", ", "</li>");
                                        if (comments_open() || get_comments_number() > 0) {
                                            echo "<li class='comments'>";
                                            comments_popup_link("No Comments", "1 Comment", "% Comments");
                                            echo "</li>";
                                        }
                                        echo "</ul>";
                                    }
                                    echo "</header>";
                                    the_excerpt();
                                    echo "</div>";
                                    echo "</article>";

                                }
                            }
                            ?>
                            <?
                            if (get_adjacent_post(false, "", false) || get_adjacent_post(false, "", true)) {
                                echo "<footer><p style='overflow:hidden;'>";
                                if (get_adjacent_post(false, "", false)) {
                                    previous_posts_link("<span style='float:left;'>&larr; Previous Page</span>");
                                }
                                if (get_adjacent_post(false, "", true)) {
                                    next_posts_link("<span style='float:right;'>Next Page &rarr;</span>");
                                }
                                echo "</p></footer>";
                            }
                            ?>
                        }
                        @@if (context.static) {
                            <header>
                                <h1>Blog</h1>
                            </header>
                            <article>
                                <header>
                                    <h2 style="margin-bottom:0;"><a href="single.htm">Curabitur urna nulla, venenatis vitae viverra vel, efficitur in nisi</a></h2>
                                    <ul class="meta-list">
                                        <li class="time"><a href="#"><time datetime="2015-10-16T13:48:16+00:00">October 16, 2015 at 1:48 pm</time></a></li>
                                        <li class="categories"><a href="archive.htm">Uncategorized</a></li>
                                        <li class="tags"><a href="archive.htm">Lorem Ipsum</a>, <a href="archive.htm">Dolor Sit</a></li>
                                        <li class="comments"><a href="#comments">2 Comments</a></li>
                                    </ul><!--/.meta-list-->
                                </header>
                                <p>Nam a venenatis neque, ultrices volutpat eros. Nulla consequat metus nisl, elementum vehicula mauris ornare et. Suspendisse nec hendrerit eros. Phasellus venenatis quis lectus in posuere. Sed molestie aliquet nunc, id lobortis [&hellip;] <strong><a href="single.htm">Read More</a></strong></p>
                            </article>
                            <article>
                                <header>
                                    <h2 style="margin-bottom:0;"><a href="single.htm">Curabitur urna nulla, venenatis vitae viverra vel, efficitur in nisi</a></h2>
                                    <ul class="meta-list">
                                        <li class="time"><a href="#"><time datetime="2015-10-16T13:48:16+00:00">October 16, 2015 at 1:48 pm</time></a></li>
                                        <li class="categories"><a href="archive.htm">Uncategorized</a></li>
                                        <li class="tags"><a href="archive.htm">Lorem Ipsum</a>, <a href="archive.htm">Dolor Sit</a></li>
                                        <li class="comments"><a href="#comments">2 Comments</a></li>
                                    </ul><!--/.meta-list-->
                                </header>
                                <p>Nam a venenatis neque, ultrices volutpat eros. Nulla consequat metus nisl, elementum vehicula mauris ornare et. Suspendisse nec hendrerit eros. Phasellus venenatis quis lectus in posuere. Sed molestie aliquet nunc, id lobortis [&hellip;] <strong><a href="single.htm">Read More</a></strong></p>
                            </article>
                            <article>
                                <header>
                                    <h2 style="margin-bottom:0;"><a href="single.htm">Curabitur urna nulla, venenatis vitae viverra vel, efficitur in nisi</a></h2>
                                    <ul class="meta-list">
                                        <li class="time"><a href="#"><time datetime="2015-10-16T13:48:16+00:00">October 16, 2015 at 1:48 pm</time></a></li>
                                        <li class="categories"><a href="archive.htm">Uncategorized</a></li>
                                        <li class="tags"><a href="archive.htm">Lorem Ipsum</a>, <a href="archive.htm">Dolor Sit</a></li>
                                        <li class="comments"><a href="#comments">2 Comments</a></li>
                                    </ul><!--/.meta-list-->
                                </header>
                                <p>Nam a venenatis neque, ultrices volutpat eros. Nulla consequat metus nisl, elementum vehicula mauris ornare et. Suspendisse nec hendrerit eros. Phasellus venenatis quis lectus in posuere. Sed molestie aliquet nunc, id lobortis [&hellip;] <strong><a href="single.htm">Read More</a></strong></p>
                            </article>
                            <article>
                                <header>
                                    <h2 style="margin-bottom:0;"><a href="single.htm">Curabitur urna nulla, venenatis vitae viverra vel, efficitur in nisi</a></h2>
                                    <ul class="meta-list">
                                        <li class="time"><a href="#"><time datetime="2015-10-16T13:48:16+00:00">October 16, 2015 at 1:48 pm</time></a></li>
                                        <li class="categories"><a href="archive.htm">Uncategorized</a></li>
                                        <li class="tags"><a href="archive.htm">Lorem Ipsum</a>, <a href="archive.htm">Dolor Sit</a></li>
                                        <li class="comments"><a href="#comments">2 Comments</a></li>
                                    </ul><!--/.meta-list-->
                                </header>
                                <p>Nam a venenatis neque, ultrices volutpat eros. Nulla consequat metus nisl, elementum vehicula mauris ornare et. Suspendisse nec hendrerit eros. Phasellus venenatis quis lectus in posuere. Sed molestie aliquet nunc, id lobortis [&hellip;] <strong><a href="single.htm">Read More</a></strong></p>
                            </article>
                            <article>
                                <header>
                                    <h2 style="margin-bottom:0;"><a href="single.htm">Curabitur urna nulla, venenatis vitae viverra vel, efficitur in nisi</a></h2>
                                    <ul class="meta-list">
                                        <li class="time"><a href="#"><time datetime="2015-10-16T13:48:16+00:00">October 16, 2015 at 1:48 pm</time></a></li>
                                        <li class="categories"><a href="archive.htm">Uncategorized</a></li>
                                        <li class="tags"><a href="archive.htm">Lorem Ipsum</a>, <a href="archive.htm">Dolor Sit</a></li>
                                        <li class="comments"><a href="#comments">2 Comments</a></li>
                                    </ul><!--/.meta-list-->
                                </header>
                                <p>Nam a venenatis neque, ultrices volutpat eros. Nulla consequat metus nisl, elementum vehicula mauris ornare et. Suspendisse nec hendrerit eros. Phasellus venenatis quis lectus in posuere. Sed molestie aliquet nunc, id lobortis [&hellip;] <strong><a href="single.htm">Read More</a></strong></p>
                            </article>
                            <article>
                                <header>
                                    <h2 style="margin-bottom:0;"><a href="single.htm">Curabitur urna nulla, venenatis vitae viverra vel, efficitur in nisi</a></h2>
                                    <ul class="meta-list">
                                        <li class="time"><a href="#"><time datetime="2015-10-16T13:48:16+00:00">October 16, 2015 at 1:48 pm</time></a></li>
                                        <li class="categories"><a href="archive.htm">Uncategorized</a></li>
                                        <li class="tags"><a href="archive.htm">Lorem Ipsum</a>, <a href="archive.htm">Dolor Sit</a></li>
                                        <li class="comments"><a href="#comments">2 Comments</a></li>
                                    </ul><!--/.meta-list-->
                                </header>
                                <p>Nam a venenatis neque, ultrices volutpat eros. Nulla consequat metus nisl, elementum vehicula mauris ornare et. Suspendisse nec hendrerit eros. Phasellus venenatis quis lectus in posuere. Sed molestie aliquet nunc, id lobortis [&hellip;] <strong><a href="single.htm">Read More</a></strong></p>
                            </article>
                            <article>
                                <header>
                                    <h2 style="margin-bottom:0;"><a href="single.htm">Curabitur urna nulla, venenatis vitae viverra vel, efficitur in nisi</a></h2>
                                    <ul class="meta-list">
                                        <li class="time"><a href="#"><time datetime="2015-10-16T13:48:16+00:00">October 16, 2015 at 1:48 pm</time></a></li>
                                        <li class="categories"><a href="archive.htm">Uncategorized</a></li>
                                        <li class="tags"><a href="archive.htm">Lorem Ipsum</a>, <a href="archive.htm">Dolor Sit</a></li>
                                        <li class="comments"><a href="#comments">2 Comments</a></li>
                                    </ul><!--/.meta-list-->
                                </header>
                                <p>Nam a venenatis neque, ultrices volutpat eros. Nulla consequat metus nisl, elementum vehicula mauris ornare et. Suspendisse nec hendrerit eros. Phasellus venenatis quis lectus in posuere. Sed molestie aliquet nunc, id lobortis [&hellip;] <strong><a href="single.htm">Read More</a></strong></p>
                            </article>
                            <article>
                                <header>
                                    <h2 style="margin-bottom:0;"><a href="single.htm">Curabitur urna nulla, venenatis vitae viverra vel, efficitur in nisi</a></h2>
                                    <ul class="meta-list">
                                        <li class="time"><a href="#"><time datetime="2015-10-16T13:48:16+00:00">October 16, 2015 at 1:48 pm</time></a></li>
                                        <li class="categories"><a href="archive.htm">Uncategorized</a></li>
                                        <li class="tags"><a href="archive.htm">Lorem Ipsum</a>, <a href="archive.htm">Dolor Sit</a></li>
                                        <li class="comments"><a href="#comments">2 Comments</a></li>
                                    </ul><!--/.meta-list-->
                                </header>
                                <p>Nam a venenatis neque, ultrices volutpat eros. Nulla consequat metus nisl, elementum vehicula mauris ornare et. Suspendisse nec hendrerit eros. Phasellus venenatis quis lectus in posuere. Sed molestie aliquet nunc, id lobortis [&hellip;] <strong><a href="single.htm">Read More</a></strong></p>
                            </article>
                            <article>
                                <header>
                                    <h2 style="margin-bottom:0;"><a href="single.htm">Curabitur urna nulla, venenatis vitae viverra vel, efficitur in nisi</a></h2>
                                    <ul class="meta-list">
                                        <li class="time"><a href="#"><time datetime="2015-10-16T13:48:16+00:00">October 16, 2015 at 1:48 pm</time></a></li>
                                        <li class="categories"><a href="archive.htm">Uncategorized</a></li>
                                        <li class="tags"><a href="archive.htm">Lorem Ipsum</a>, <a href="archive.htm">Dolor Sit</a></li>
                                        <li class="comments"><a href="#comments">2 Comments</a></li>
                                    </ul><!--/.meta-list-->
                                </header>
                                <p>Nam a venenatis neque, ultrices volutpat eros. Nulla consequat metus nisl, elementum vehicula mauris ornare et. Suspendisse nec hendrerit eros. Phasellus venenatis quis lectus in posuere. Sed molestie aliquet nunc, id lobortis [&hellip;] <strong><a href="single.htm">Read More</a></strong></p>
                            </article>
                            <article>
                                <header>
                                    <h2 style="margin-bottom:0;"><a href="single.htm">Curabitur urna nulla, venenatis vitae viverra vel, efficitur in nisi</a></h2>
                                    <ul class="meta-list">
                                        <li class="time"><a href="#"><time datetime="2015-10-16T13:48:16+00:00">October 16, 2015 at 1:48 pm</time></a></li>
                                        <li class="categories"><a href="archive.htm">Uncategorized</a></li>
                                        <li class="tags"><a href="archive.htm">Lorem Ipsum</a>, <a href="archive.htm">Dolor Sit</a></li>
                                        <li class="comments"><a href="#comments">2 Comments</a></li>
                                    </ul><!--/.meta-list-->
                                </header>
                                <p>Nam a venenatis neque, ultrices volutpat eros. Nulla consequat metus nisl, elementum vehicula mauris ornare et. Suspendisse nec hendrerit eros. Phasellus venenatis quis lectus in posuere. Sed molestie aliquet nunc, id lobortis [&hellip;] <strong><a href="single.htm">Read More</a></strong></p>
                            </article>
                            <footer>
                                <p style="overflow:hidden;"><a href="home.htm"><span style="float:right;">Next Page &rarr;</span></a></p>
                            </footer>
                        }
                    </div><!--/.post-->
                    @@if (context.wordpress) {
                        <? get_sidebar(); ?>
                    }
                    @@if (context.static) {
                        @@include("sidebar.htm", {
                            "widget": {
                                "title": "Categories",
                                "content": "<nav class='menu-wrapper'><ul class='menu-list l-vertical'><li class='menu-item'><a href='archive.htm'>Uncategorized</a></li><li class='menu-item'><a href='archive.htm'>Nunc Accumsan</a></li><li class='menu-item'><a href='archive.htm'>Sed Molestie Aliquet</a></li></ul></nav>"
                            }
                        })
                    }
                </main><!--/.content-->
            </div><!--/.content-wrapper-->
@@if (context.wordpress) {
    <? get_footer(); ?>
}
@@if (context.static) {
    @@include("footer.htm")
}
