@@if (context.wordpress) {
    <? get_header(); ?>
}
@@if (context.static) {
    @@include("header.htm", {"title": "About Us"})
}
            <div class="content-wrapper">
                <main class="content">
                    <div class="post">
                        @@if (context.wordpress) {
                            <?
                            if (have_posts()) {
                                while (have_posts()) {
                                    the_post();
                                    echo "<article>";
                                    if (has_post_thumbnail($id)) {
                                        echo "<figure>" . get_the_post_thumbnail($id, "large") . "</figure>";
                                    }
                                    the_title("<header><h1>", "</h1></header>");
                                    the_content();
                                    if (comments_open() || get_comments_number() > 0) {
                                        echo "<footer>";
                                        comments_template();
                                        echo "</footer>";
                                    }
                                    echo "</article>";
                                }
                            }
                            ?>
                        }
                        @@if (context.static) {
                            <article>
                                <header>
                                    <h1>About Us</h1>
                                </header>
                                <img class="alignright" src="http://placehold.it/400x300" />
                                <p>Nunc ligula nibh, scelerisque vitae vestibulum vitae, suscipit sit amet elit. Morbi laoreet non tellus aliquam porttitor. Suspendisse vitae risus non arcu auctor imperdiet. Mauris laoreet augue ac facilisis maximus. Donec sagittis euismod quam, id consectetur ante pulvinar nec. In pretium enim sit amet dictum finibus. Etiam congue venenatis sapien, sed consectetur libero molestie malesuada. Integer sed quam convallis lectus euismod feugiat quis non nunc. Vestibulum ex lacus, ullamcorper sit amet augue ut, egestas varius turpis. Vestibulum dignissim est arcu, a facilisis lorem consequat at. Sed rhoncus vehicula augue, eu congue augue auctor nec. Curabitur egestas cursus massa, eget euismod justo accumsan id. Nulla imperdiet tortor eget mauris eleifend maximus eget in enim. Donec gravida maximus urna, vel eleifend ligula varius et. Mauris orci leo, condimentum eu malesuada ut, gravida non arcu.</p>
                                <p>Cras quis pharetra risus. Aliquam sodales pretium velit a posuere. Sed sollicitudin pharetra ex, vel mollis nulla imperdiet nec. Pellentesque convallis vestibulum nisl non laoreet. Fusce in feugiat libero, vel sodales sapien. Vestibulum dapibus nulla turpis, id elementum augue facilisis ac. Quisque vel egestas sem, eget lacinia libero.</p>
                            </article>
                        }
                    </div><!--/.post-->
                </main><!--/.content-->
            </div><!--/.content-wrapper-->
@@if (context.wordpress) {
    <? get_footer(); ?>
}
@@if (context.static) {
    @@include("footer.htm")
}
