@@if (context.static) {
    @@include("header.htm", {"title": "Search Results for &#8220;About&#8221;"})
}
@@if (context.wordpress) {
    <? get_header(); ?>
}
            <div class="content-wrapper">
                <main class="content">
                    <div class="post">
                        @@if (context.wordpress) {
                            <form class="search-form" action="<? echo home_url(); ?>" method="get">
                        }
                        @@if (context.static) {
                            <form class="search-form" method="get">
                        }
                            <label class="search-label" for="s">Search for:</label>
                            <input class="search-input" name="s" title="Search for:" type="search" value="<? the_search_query(); ?>" />
                            <input class="search-submit" type="submit" value="Search" />
                        </form>
                        @@if (context.wordpress) {
                            <?
                            if (have_posts()) {
                                while (have_posts()) {
                                    the_post();
                                    echo "<article>";
                                    echo "<header>";
                                    echo "<h2><a href='" . get_permalink() . "'>" . get_the_title() . "</a></h2>";
                                    echo "<ul class='meta-list'>";
                                    echo "<li class='url'><a href='" . get_the_permalink() . "'>" . str_replace("http://", "", get_the_permalink()) . "</a></li>";
                                    echo "</ul>";
                                    echo "</header>";
                                    the_excerpt();
                                    echo "</article>";
                                }
                            } else {
                                echo "<p>No results found for <strong>" . get_search_query() . "</strong>.</p>";
                            }
                            ?>
                            <?
                            if (get_adjacent_post(false, "", false) || get_adjacent_post(false, "", true)) {
                                echo "<footer><p style='overflow:hidden;'>";
                                if (get_adjacent_post(false, "", false)) {
                                    previous_posts_link("<span style='float:left;'>&larr; Previous Page</span>");
                                }
                                if (get_adjacent_post(false, "", true)) {
                                    next_posts_link("<span style='float:right;'>Next Page &rarr;</span>");
                                }
                                echo "</p></footer>";
                            }
                            ?>
                        }
                        @@if (context.static) {
                            <article>
                                <header>
                                    <h2 style="margin-bottom:0;"><a href="about.htm">About Us</a></h2>
                                    <ul class="meta-list">
                                        <li class="url"><a href="#">@@home_url/about.htm</a></li>
                                    </ul><!--/.meta-list-->
                                </header>
                                <p>Nunc ligula nibh, scelerisque vitae vestibulum vitae, suscipit sit amet elit. Morbi laoreet non tellus aliquam porttitor. Suspendisse vitae risus non arcu auctor imperdiet. Mauris laoreet augue ac facilisis maximus. Donec sagittis [&hellip;] <strong><a href="single.htm">Read More</a></strong></p>
                            </article>
                        }
                    </div><!--/.post-->
                    @@if (context.wordpress) {
                        <? get_sidebar(); ?>
                    }
                    @@if (context.static) {
                        @@include("sidebar.htm", {
                            "widget": {
                                "title": "Categories",
                                "content": "<nav class='menu-wrapper'><ul class='menu-list l-vertical'><li class='menu-item'><a href='archive.htm'>Uncategorized</a></li><li class='menu-item'><a href='archive.htm'>Nunc Accumsan</a></li><li class='menu-item'><a href='archive.htm'>Sed Molestie Aliquet</a></li></ul></nav>"
                            }
                        })
                    }
                </main><!--/.content-->
            </div><!--/.content-wrapper-->
@@if (context.wordpress) {
    <? get_footer(); ?>
}
@@if (context.static) {
    @@include("footer.htm")
}
