@@if (context.wordpress) {
    <? get_header(); ?>
}
@@if (context.static) {
    @@include("header.htm", {"title": "Curabitur urna nulla, venenatis vitae viverra vel, efficitur in nisi"})
}
            <div class="content-wrapper">
                <main class="content">
                    <div class="post">
                        @@if (context.wordpress) {
                            <?
                            if (have_posts()) {
                                while (have_posts()) {
                                    the_post();
                                    echo "<article>";
                                    if (has_post_thumbnail($id)) {
                                        echo "<figure>" . get_the_post_thumbnail($id, "large") . "</figure>";
                                    }
                                    echo "<header>";
                                    the_title("<h1>", "</h1>");
                                    echo "<ul class='meta-list'>";
                                    echo "<li class='time'><a href='" . get_the_permalink() . "'>" . get_the_date() . "</a></li>";
                                    if (get_the_category_list()) {
                                        echo "<li class='categories'>" . get_the_category_list(", ") . "</li>";
                                    }
                                    the_tags("<li class='tags'>", ", ", "</li>");
                                    if (comments_open() || get_comments_number() > 0) {
                                        echo "<li class='comments'>";
                                        comments_popup_link("No Comments", "1 Comment", "% Comments");
                                        echo "</li>";
                                    }
                                    echo "</ul>";
                                    echo "</header>";
                                    the_content();
                                    if (comments_open() || get_comments_number() > 0) {
                                        echo "<footer>";
                                        comments_template();
                                        echo "</footer>";
                                    }
                                    echo "</article>";
                                }
                            }
                            ?>
                        }
                        @@if (context.static) {
                            <article>
                                <header>
                                    <h1>Curabitur urna nulla, venenatis vitae viverra vel, efficitur in nisi</h1>
                                    <ul class="meta-list">
                                        <li class="time"><a href="#"><time datetime="2015-10-16T13:48:16+00:00">October 16, 2015 at 1:48 pm</time></a></li>
                                        <li class="categories"><a href="archive.htm">Uncategorized</a></li>
                                        <li class="tags"><a href="archive.htm">Lorem Ipsum</a>, <a href="archive.htm">Dolor Sit</a></li>
                                        <li class="comments"><a href="#comments">2 Comments</a></li>
                                    </ul><!--/.meta-list-->
                                </header>
                                <p>Nam a venenatis neque, ultrices volutpat eros. Nulla consequat metus nisl, <a href="page.htm">elementum vehicula mauris</a> ornare et. Suspendisse nec hendrerit eros. Phasellus venenatis quis lectus in posuere. Sed molestie aliquet nunc, id lobortis arcu fringilla vitae. Ut suscipit convallis nibh, in elementum quam porta sit amet. Aliquam a justo magna. Cras imperdiet cursus neque, id tristique erat. Nam hendrerit dui sed turpis tristique bibendum. Mauris condimentum mauris ultrices malesuada efficitur. Quisque non lacus congue, dictum augue in, commodo nunc. Vivamus sagittis mauris varius purus tincidunt, nec pellentesque tellus tincidunt.</p>
                                <blockquote>
                                    <p>Integer libero ex, <em>ullamcorper ac porta vitae</em>, convallis in tellus. Pellentesque ex augue, ultricies non ipsum nec, cursus sodales lectus.</p>
                                </blockquote>
                                <p>Nulla tortor diam, scelerisque vitae pretium eget, dapibus at nunc. Mauris lobortis metus nec neque malesuada interdum. Integer est sapien, consectetur at consequat nec, tristique ac magna. Nunc accumsan aliquet felis ac gravida. Nam turpis nibh, venenatis ac congue ut, lobortis a nulla. Cras vestibulum nunc nibh, eu dapibus mauris fringilla sit amet. Nulla sem nisl, sodales in vestibulum a, malesuada eu orci. Donec sit amet augue hendrerit, aliquet ex in, interdum nibh.</p>
                                <p>Phasellus iaculis mi tortor, <strong>sed dapibus mi condimentum ac</strong>. Nunc cursus odio vel dui accumsan tristique. In sagittis eleifend condimentum. Nulla id urna id dolor placerat luctus ac eu est. Vestibulum ultricies lacinia sapien, vitae lobortis erat pretium a. Suspendisse tincidunt est et nulla pretium facilisis. Quisque consequat eget mauris sed eleifend. Vivamus id hendrerit metus. In rhoncus lacus nec condimentum vehicula. Cras a gravida dui, in dignissim arcu. Nulla fringilla, dolor bibendum porttitor fermentum, ligula leo scelerisque turpis, a egestas dolor nibh ac dui.</p>
                                @@include("comments.htm", {"title": "Curabitur urna nulla, venenatis vitae viverra vel, efficitur in nisi"})
                            </article>
                        }
                    </div><!--/.post-->
                    @@if (context.wordpress) {
                        <? get_sidebar(); ?>
                    }
                    @@if (context.static) {
                        @@include("sidebar.htm", {
                            "widget": {
                                "title": "Categories",
                                "content": "<nav class='menu-wrapper'><ul class='menu-list l-vertical'><li class='menu-item'><a href='archive.htm'>Uncategorized</a></li><li class='menu-item'><a href='archive.htm'>Nunc Accumsan</a></li><li class='menu-item'><a href='archive.htm'>Sed Molestie Aliquet</a></li></ul></nav>"
                            }
                        })
                    }
                </main><!--/.content-->
            </div><!--/.content-wrapper-->
@@if (context.wordpress) {
    <? get_footer(); ?>
}
@@if (context.static) {
    @@include("footer.htm")
}
