// Styles written by __gulp_init__author_name @ __gulp_init__author_company

@import "helpers/_helpers";

html,
body {
    & {
        background: color("background");
        color: color("foreground");
    }
}

html {
    & {
        padding: remify(20 25, 16);
    }
}

@import "base/normalize/_normalize";
@import "base/grid/_grid";
@import "base/link/_link";
@import "base/title/_title";
@import "base/text/_text";
@import "base/input/_input";
@import "base/button/_button";
@import "base/blockquote/_blockquote";
@import "base/divider/_divider";
@import "base/user-content/_user-content";

.user-content {
    a:not(.button) {
        @extend .link;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @extend .title;
    }

    h1 {
        @extend .title.-h1;
    }

    h2 {
        @extend .title.-h2;
    }

    h3 {
        @extend .title.-h3;
    }

    h4 {
        @extend .title.-h4;
    }

    h5 {
        @extend .title.-h5;
    }

    h6 {
        @extend .title.-h6;
    }

    p,
    ol,
    ul,
    table {
        @extend .text;
    }

    ol,
    ul {
        @extend .text.-list;
    }

    ol li,
    ul li {
        @extend .text_list-item;
    }

    ol {
        @extend .text.-list.-ordered;
    }

    ul {
        @extend .text.-list;
    }

    table {
        @extend .text.-table;
    }

    table thead {
        @extend .text_header;
    }

    table tbody {
        @extend .text_body;
    }

    table tfoot {
        @extend .text_footer;
    }

    table tr {
        @extend .text_row;
    }

    table td,
    table th {
        @extend .text_cell;
    }

    table th {
        @extend .text_cell.-header;
    }

    blockquote {
        @extend .blockquote;
    }

    hr {
        @extend .divider;
    }
}
