// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

@import "helpers/_helpers";
@import "views/_screen_xxxs";
@import "views/_screen_xxs";
@import "views/_screen_xs";
@import "views/_screen_s";
@import "views/_screen_m";
@import "views/_screen_l";
@import "views/_screen_xl";
@import "views/_screen_xxl";
@import "views/_screen_xxxl";

@for $i from 1 through 12 {
    .col-#{$i} {
        max-width: ($i / 12) * 100%;
    }
}

@include larger-than(xs) {
    @for $i from 1 through 12 {
        .col-xs-#{$i} {
            max-width: ($i / 12) * 100%;
        }
    }
}

@include larger-than(s) {
    @for $i from 1 through 12 {
        .col-s-#{$i} {
            max-width: ($i / 12) * 100%;
        }
    }
}

@include larger-than(m) {
    @for $i from 1 through 12 {
        .col-m-#{$i} {
            max-width: ($i / 12) * 100%;
        }
    }
}

@include larger-than(l) {
    @for $i from 1 through 12 {
        .col-l-#{$i} {
            max-width: ($i / 12) * 100%;
        }
    }
}

@include larger-than(xl) {
    @for $i from 1 through 12 {
        .col-xl-#{$i} {
            max-width: ($i / 12) * 100%;
        }
    }
}
