// Styles written by Jacob Bearce @ Weblinx, Inc.

@import "helpers/_helpers";

/* stylelint-disable no-descending-specificity, selector-max-id, selector-max-type, selector-no-qualifying-type, selector-class-pattern, property-no-vendor-prefix */

$dark:  color("dark", "tint"); // set to a HEX value to enable dark mode
$light: color("light");
$base:  color("accent");
$tint:  lighten(desaturate(adjust-hue($base, 1.6532), 27.2727), 6.6667);
$shade: darken(adjust-hue($base, 2.5111), 6.4706);

body.login {
    @if ($dark != false) {
        background: $dark;
    }
}

body.login div#login p.message {
    & {
        border-left-color: lighten(adjust-hue($base, -2.8111), 4.7059);
    }
}

body.login div#login h1 a {
    & {
        // image path must be relative to gulpfile.js
        background-image: str-replace(inline-svg-file("./src/assets/media/icon-safari.svg"), "path%20", "path%20fill%3D%22#{str-replace(#{$base}, "#", "%23")}%22%20");
    }
}

body.login div#login form#loginform,
body.login div#login form#lostpasswordform {
    input[type="text"]:focus,
    input[type="search"]:focus,
    input[type="radio"]:focus,
    input[type="tel"]:focus,
    input[type="time"]:focus,
    input[type="url"]:focus,
    input[type="week"]:focus,
    input[type="password"]:focus,
    input[type="checkbox"]:focus,
    input[type="color"]:focus,
    input[type="date"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="email"]:focus,
    input[type="month"]:focus,
    input[type="number"]:focus,
    select:focus,
    textarea:focus {
        border-color: lighten(desaturate(adjust-hue($base, 11.4747), 37.6238), 23.9216);
        box-shadow: 0 0 2px transparentize($tint, 0.2);
    }

    input[type="checkbox"]:checked::before {
        color: $tint;
    }
}

body.login div#login form#loginform p.submit input#wp-submit,
body.login div#login form#lostpasswordform p.submit input#wp-submit {
    & {
        background: $base;
        border-color: darken(adjust-hue($base, 2.315), 3.1373) $shade $shade;
        box-shadow: 0 1px 0 $shade;
        text-shadow: 0 -1px 1px $shade, 1px 0 1px $shade, 0 1px 1px $shade, -1px 0 1px $shade;
    }

    &:focus {
        background: lighten(adjust-hue($base, -1.0143), 1.5686);
        border-color: $shade;
        box-shadow: 0 1px 0 darken(adjust-hue($base, 2.315), 3.1373), 0 0 2px 1px lighten(saturate(adjust-hue($base, -2.8111), 30), 16.4706);
    }

    &:hover {
        background: lighten(adjust-hue($base, -1.0143), 1.5686);
        border-color: $shade;
    }
}

body.login div#login p#nav a,
body.login div#login p#backtoblog a {
    @if ($dark != false) {
        color: $light;
    }

    &:focus {
        box-shadow: 0 0 0 1px lighten(desaturate(adjust-hue($base, 11.4747), 37.6238), 23.9216), 0 0 2px 1px transparentize($tint, 0.2);
        color: darken(desaturate(adjust-hue($base, 2.6593), 30.5085), 13.3333);
    }

    &:hover {
        color: lighten(adjust-hue($base, -2.8111), 4.7059);
    }
}
