// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

@import "helpers/_helpers";

/* stylelint-disable no-descending-specificity, selector-max-id, selector-max-type, selector-no-qualifying-type, selector-class-pattern, property-no-vendor-prefix */

$light: color("light");
$base:  color("accent");
$tint:  lighten(desaturate(adjust-hue($base, 1.6532), 27.2727), 6.6667);
$shade: darken(adjust-hue($base, 2.5111), 6.4706);

a {
    & {
        color: $base;
    }

    &:active,
    &:hover {
        color: lighten(adjust-hue($base, -5.1261), 7.8431);
    }

    &:focus {
        box-shadow: 0 0 0 1px lighten(desaturate(adjust-hue($base, 9.1597), 37.6238), 27.0588), 0 0 2px 1px transparentize(lighten(desaturate(adjust-hue($base, -0.6618), 27.2727), 9.8039), 0.2);
        color: darken(desaturate(adjust-hue($base, 0.3443), 30.5085), 10.1961);
    }
}

.wp-core-ui .button,
.wp-core-ui .button-secondary {
    &:not(.button-primary) {
        border-color: $base;
        color: $base;
    }

    &:not(.button-primary):active {
        border-color: lighten(desaturate(adjust-hue($base, 10.6832), 91.1392), 21.9608);
    }

    &:not(.button-primary):hover {
        border-color: darken(desaturate(adjust-hue($base, -0.4255), 1.4706), 4.902);
        color: darken(desaturate(adjust-hue($base, -0.4255), 1.4706), 4.902);
    }

    &:not(.button-primary):focus {
        border-color: lighten(adjust-hue($base, 2.1118), 4.902);
        box-shadow: 0 0 0 1px lighten(adjust-hue($base, 2.1118), 4.902);
        color: darken(desaturate(adjust-hue($base, -0.4255), 1.4706), 4.902);
    }
}

body.login div#login p.message {
    & {
        border-left-color: lighten(adjust-hue($base, -2.8111), 4.7059);
    }
}

body.login div#login h1 a {
    & {
        background-image: url("../media/logo.svg");
        background-size: contain;
        width: 100%;
    }
}

body.login div#login form {
    input[type="text"]:focus,
    input[type="search"]:focus,
    input[type="radio"]:focus,
    input[type="tel"]:focus,
    input[type="time"]:focus,
    input[type="url"]:focus,
    input[type="week"]:focus,
    input[type="password"]:focus,
    input[type="checkbox"]:focus,
    input[type="color"]:focus,
    input[type="date"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="email"]:focus,
    input[type="month"]:focus,
    input[type="number"]:focus,
    select:focus,
    textarea:focus {
        border-color: lighten(desaturate(adjust-hue($base, 11.4747), 37.6238), 23.9216);
        box-shadow: 0 0 2px transparentize($tint, 0.2);
    }

    input[type="checkbox"]:checked::before {
        content: svg-load("../media/vendor/wp-login-check.svg", fill=#{$tint});
    }
}

body.login div#login form .button.wp-hide-pw {
    & {
        color: $tint;
    }
}

body.login div#login form input.button {
    & {
        background: $base;
        border-color: darken(adjust-hue($base, 2.315), 3.1373) $shade $shade;
        box-shadow: 0 1px 0 $shade;
        text-shadow: 0 -1px 1px $shade, 1px 0 1px $shade, 0 1px 1px $shade, -1px 0 1px $shade;
    }

    &:focus {
        background: lighten(adjust-hue($base, -1.0143), 1.5686);
        border-color: $shade;
        box-shadow: 0 1px 0 darken(adjust-hue($base, 2.315), 3.1373), 0 0 2px 1px lighten(saturate(adjust-hue($base, -2.8111), 30), 16.4706);
    }

    &:hover {
        background: lighten(adjust-hue($base, -1.0143), 1.5686);
        border-color: $shade;
    }
}

body.login div#login p#nav a,
body.login div#login p#backtoblog a {
    &:focus {
        box-shadow: 0 0 0 1px lighten(desaturate(adjust-hue($base, 11.4747), 37.6238), 23.9216), 0 0 2px 1px transparentize($tint, 0.2);
        color: darken(desaturate(adjust-hue($base, 2.6593), 30.5085), 13.3333);
    }

    &:hover {
        color: lighten(adjust-hue($base, -2.8111), 4.7059);
    }
}
