// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Swiper (http://idangero.us/swiper/)
\* ------------------------------------------------------------------------ */

/* stylelint-disable selector-class-pattern */

// Vendor

@import "swiper/dist/css/swiper";

// Custom

.swiper-slide {
    & {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: auto;
        margin: 0;
        overflow: hidden;
    }
}

.swiper-picture {
    & {
        flex: none;
    }
}

.swiper-image {
    & {
        display: block;
        width: 100%;
    }

    .swiper-container--fixedheight & {
        left: 50%;
        min-width: 100%;
        position: relative;
        transform: translateX(-50%);
        width: auto;
    }
}

.swiper-caption {
    & {
        background: color("dark");
        flex: 1 1 auto;
        padding: remify(($content-padding * 0.75) $content-padding);
    }

    .swiper-caption-inner {
        margin: 0 auto;
        max-width: remify($site-width, 16);
    }

    .swiper-container--fullbleed & .swiper-caption-inner {
        max-width: none;
    }
}

.swiper-title {
    & {
        color: color("light");
        font-size: remify(32, 16);
    }
}

.swiper-user-content {
    > :last-child {
        margin-bottom: 0 !important;
    }
}

.swiper-button {
    & {
        background: none;
        border: 0;
        color: color("primary");
        cursor: pointer;
        display: block;
        height: 100%;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        top: 0;
        transition: opacity 0.15s;
        width: remify(55, 16);
        z-index: 999;
    }

    &.swiper-button--prev {
        background: none;
        left: 0;
    }

    .swiper-container-rtl &.swiper-button--prev {
        background: none;
        right: 0;
    }

    &.swiper-button--next {
        background: none;
        right: 0;
    }

    .swiper-container-rtl &.swiper-button--next {
        background: none;
        left: 0;
    }

    .swiper-container:hover & {
        opacity: 0.5;
    }

    .swiper-container:hover &:hover,
    .swiper-container:hover &:focus {
        opacity: 1;
    }

    .swiper-button-icon {
        font-size: remify(48, 16);
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
    & {
        bottom: auto;
        top: 0;
    }
}

.swiper-pagination-bullet {
    & {
        background: transparentize(color("dark"), 0.5);
        height: remify(10, 16);
        opacity: 1;
        transition: background-color 0.15s;
        width: remify(10, 16);
    }
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    & {
        margin: remify(20 5, 16);
    }
}

.swiper-pagination-bullet-active {
    & {
        background-color: color("primary");
    }
}
