// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Panel Toggle
\* ------------------------------------------------------------------------ */

.panel-toggle {
    & {
        background: none;
        border: 0;
        color: color("accent");
        cursor: pointer;
        font-size: remify(24, 16);
        height: remify(40, 24);
        margin: 0;
        padding: 0;
        position: relative;
        width: remify(40, 24);
    }
}
