// Styles written by Jacob Bearce | jacob@bearce.me

/* ------------------------------------------------------------------------ *\
 * Navigation                                                               *
\* ------------------------------------------------------------------------ */

.nav {
    max-width: $site-width + px;
    max-width: remify($site-width);
    width: auto;
}
