// Styles written by α__init_author_name @ α__init_author_company

/* ------------------------------------------------------------------------ *\
 * Page
\* ------------------------------------------------------------------------ */

html,
body {
    & {
        background: $page_background;
        height: 100%;
        width: 100%;
    }
}

.page_container {
    & {
        min-height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
}
