// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Page
\* ------------------------------------------------------------------------ */

html,
body {
    & {
        background: color("page-background");
        min-height: 100vh;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none; // stylelint-disable-line
        width: 100%;
    }
}

body {
    & {
        overflow-x: hidden;
    }
}

.page__container {
    & {
        background: color("page-background");
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        position: relative;
        width: 100%;
    }

    #content { // stylelint-disable-line
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
    }

    .content-block {
        flex: 1 0 auto;
    }
}
