// Styles written by YOURNAME @ YOURCOMPANY

/* ------------------------------------------------------------------------ *\
 * Page
\* ------------------------------------------------------------------------ */

html,
body {
    & {
        background: $page_background;
        height: 100%;
        width: 100%;
    }
}

.page_container {
    & {
        min-height: 100%;
        position: relative;
        width: 100%;
    }
}
